/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://obazedesigns.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 36, ../sass/chuck-designs.scss */
div#home-portfolio h2, div#process h2, div#phil h2, div#expertise h2, div#about h2, div#portfolio h2, div#contact h2, div.nipost-holder h2, div.nipost-holder h3, div.nipost-holder h4 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 4.5em;
  font-weight: 300;
}

/* line 69, ../sass/chuck-designs.scss */
div.portfolio-bg, div.contact-bg, div.nipost-bg, div.flyer-bg, div.aglow-bg, div.bugout-bg, div.connect-bg, div.wedding-bg, div.branding-bg {
  height: 150em;
  width: 100%;
  position: fixed;
  background-position: 0em -40em;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 82, ../sass/chuck-designs.scss */
section.nipost-first-container, section.flyer-first-container, section.aglow-first-container, section.bugout-first-container, section.connect-first-container, section.wedding-first-container, section.branding-first-container {
  padding-top: 5%;
  background: #ffffff;
  clear: both;
  margin: 0 auto;
  width: 100%;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 126, ../sass/chuck-designs.scss */
a:link, a:visited, a:hover, a:focus, a:active
html {
  font-size: 10px;
}

/* line 130, ../sass/chuck-designs.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 135, ../sass/chuck-designs.scss */
body {
  font-size: 10px;
  /*font-family: $helvetica;*/
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 144, ../sass/chuck-designs.scss */
hr {
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 2em;
  border: 0;
}

/* line 152, ../sass/chuck-designs.scss */
#main-container {
  width: 100%;
  overflow: hidden;
}

/* line 157, ../sass/chuck-designs.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  padding: 2em 0 2em 0;
}
/* line 165, ../sass/chuck-designs.scss */
header.main-header img {
  float: left;
  width: 100%;
  max-width: 4em;
  padding-left: 2%;
}

/* line 173, ../sass/chuck-designs.scss */
#lines {
  display: none;
}

/* line 177, ../sass/chuck-designs.scss */
.active-link {
  border-bottom: solid #82cec4 0.3em;
}

/* line 181, ../sass/chuck-designs.scss */
nav.main-nav {
  float: right;
  padding-right: 2%;
  position: relative;
  top: 1.3em;
}
/* line 187, ../sass/chuck-designs.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}
/* line 194, ../sass/chuck-designs.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}
/* line 200, ../sass/chuck-designs.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 200;
  /*&:visited{
  	border-bottom: solid $red-color .3em;
  }*/
}
/* line 210, ../sass/chuck-designs.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  border-bottom: solid #82cec4 0.3em;
}

/* line 218, ../sass/chuck-designs.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* START STYLING HOME SECTION STYLES
-------------------------------------------*/
/* line 228, ../sass/chuck-designs.scss */
div.home-bg {
  height: 150em;
  max-height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/home-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 245, ../sass/chuck-designs.scss */
section.home-container {
  height: 100em;
  max-height: 100%;
  clear: both;
  width: 100%;
}

/* line 253, ../sass/chuck-designs.scss */
div#home {
  width: 100%;
  padding-top: 12%;
  box-sizing: border-box;
  height: 100em;
  max-height: 100%;
  margin: 0 auto;
}

/* line 262, ../sass/chuck-designs.scss */
div.home-contents {
  height: 25em;
  width: 100%;
  margin: 0 auto;
  margin-top: 7%;
  margin-bottom: 28em;
  position: relative;
  z-index: -1;
}
/* line 271, ../sass/chuck-designs.scss */
div.home-contents h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -1;
}
/* line 284, ../sass/chuck-designs.scss */
div.home-contents h2 {
  width: 100%;
  color: #ffffff;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  z-index: -1;
}
/* line 296, ../sass/chuck-designs.scss */
div.home-contents img {
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80em;
  max-width: 80%;
  position: relative;
  z-index: -1;
}

/* line 308, ../sass/chuck-designs.scss */
a.dwn-btn {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 319, ../sass/chuck-designs.scss */
a.dwn-btn:hover, a.dwn-btn:focus {
  background-image: url(../imgs/dwn-btn.png);
}

/* START STYLING HOME PORTFOLIO SECTION
-------------------------------------------*/
/* line 327, ../sass/chuck-designs.scss */
section.home-portfolio-container {
  width: 100%;
  height: 120em;
  background-color: #ffffff;
}

/* line 333, ../sass/chuck-designs.scss */
div#home-portfolio {
  width: 120em;
  max-width: 100%;
  height: 101em;
  margin: 0 auto;
  clear: both;
  padding-top: 5%;
  box-sizing: border-box;
  margin-bottom: 3%;
}
/* line 347, ../sass/chuck-designs.scss */
div#home-portfolio > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 360, ../sass/chuck-designs.scss */
div.left-holder, div.right-holder {
  height: 70em;
  max-width: 100%;
  width: 60em;
  float: left;
}

/* line 367, ../sass/chuck-designs.scss */
div.left-top {
  height: 43.5em;
  width: 100%;
  overflow: hidden;
}
/* line 372, ../sass/chuck-designs.scss */
div.left-top a {
  text-decoration: none;
}
/* line 375, ../sass/chuck-designs.scss */
div.left-top a > p {
  font-size: medium;
  width: 6em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 25em;
  background-color: #82cec4;
}
/* line 388, ../sass/chuck-designs.scss */
div.left-top a img {
  width: 103%;
  position: relative;
  bottom: 5em;
}

/* line 397, ../sass/chuck-designs.scss */
div.right-top {
  height: 29em;
  width: 100%;
  overflow: hidden;
}
/* line 402, ../sass/chuck-designs.scss */
div.right-top a {
  text-decoration: none;
}
/* line 405, ../sass/chuck-designs.scss */
div.right-top a img {
  width: 102%;
  position: relative;
  bottom: 17.5em;
}
/* line 411, ../sass/chuck-designs.scss */
div.right-top a > p {
  font-size: medium;
  width: 8.1em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  top: 16em;
  background-color: #82cec4;
}

/* line 427, ../sass/chuck-designs.scss */
div.left-bottom-one {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}
/* line 433, ../sass/chuck-designs.scss */
div.left-bottom-one a {
  text-decoration: none;
}
/* line 436, ../sass/chuck-designs.scss */
div.left-bottom-one a img {
  width: 107%;
  position: relative;
  right: 2em;
  bottom: 4.5em;
}
/* line 443, ../sass/chuck-designs.scss */
div.left-bottom-one a > p {
  font-size: medium;
  width: 10em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 3;
  top: 13.8em;
  background-color: #82cec4;
}

/* line 458, ../sass/chuck-designs.scss */
div.left-bottom-two {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}
/* line 464, ../sass/chuck-designs.scss */
div.left-bottom-two a {
  text-decoration: none;
}
/* line 467, ../sass/chuck-designs.scss */
div.left-bottom-two a img {
  width: 107%;
  position: relative;
  right: 2em;
  bottom: 5.5em;
}
/* line 474, ../sass/chuck-designs.scss */
div.left-bottom-two a > p {
  font-size: medium;
  max-width: 100%;
  width: 8em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 3;
  top: 13.8em;
  background-color: #82cec4;
}

/* line 490, ../sass/chuck-designs.scss */
div.right-bottom {
  height: 40em;
  width: 100%;
  float: left;
  overflow: hidden;
}
/* line 496, ../sass/chuck-designs.scss */
div.right-bottom a {
  text-decoration: none;
}
/* line 499, ../sass/chuck-designs.scss */
div.right-bottom a img {
  width: 130%;
  position: relative;
  right: 10.5em;
  bottom: 12em;
}
/* line 506, ../sass/chuck-designs.scss */
div.right-bottom a > p {
  font-size: medium;
  width: 9em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 4;
  top: 22.9em;
  background-color: #82cec4;
}

/* line 521, ../sass/chuck-designs.scss */
div.port {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  clear: both;
  max-width: 31em;
}
/* line 528, ../sass/chuck-designs.scss */
div.port a {
  text-decoration: none;
  padding: 1em;
  font-size: 2em;
  font-weight: 600;
  color: #f98348;
  background-color: #ffffff;
  border: solid #f98348 0.125em;
  box-sizing: border-box;
  display: block;
}
/* line 539, ../sass/chuck-designs.scss */
div.port a:hover, div.port a:focus {
  color: #ffffff;
  background-color: #f98348;
}

/* END STYLING SECTION PORTFOLIO AND HOME-PORTFOLIO-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PROCESS AND PROCESS-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 554, ../sass/chuck-designs.scss */
section.process-container {
  width: 100%;
  height: 70em;
  background-color: #fafafa;
}

/* line 561, ../sass/chuck-designs.scss */
div#process {
  width: 100%;
  height: 70em;
  padding-top: 5%;
  margin: 0 auto;
  clear: both;
  box-sizing: border-box;
}

/* line 575, ../sass/chuck-designs.scss */
div.icon-holder {
  height: 35em;
  width: 131em;
  max-width: 100%;
  margin: 0 auto;
}

/* line 582, ../sass/chuck-designs.scss */
div.icon {
  float: left;
  width: auto;
  margin: 2.3%;
}
/* line 587, ../sass/chuck-designs.scss */
div.icon img {
  width: 15em;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/* line 594, ../sass/chuck-designs.scss */
div.icon p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #414042;
  text-align: center;
  width: 13em;
  margin-top: 1em;
}
/* line 603, ../sass/chuck-designs.scss */
div.icon p span {
  font-size: 0.8em;
  font-weight: 200;
}

/* START STYLING PHIL SECTION
-------------------------------------------*/
/* line 613, ../sass/chuck-designs.scss */
section.phil-container {
  width: 100%;
  height: 45em;
  background-image: url(../imgs/phil-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 622, ../sass/chuck-designs.scss */
div#phil {
  height: 45em;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
/* line 629, ../sass/chuck-designs.scss */
div#phil h2 {
  color: #ffffff;
}
/* line 634, ../sass/chuck-designs.scss */
div#phil p {
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.5em;
  color: #ffffff;
  width: 36em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* START STYLING EXPERTISE SECTION
-------------------------------------------*/
/* line 650, ../sass/chuck-designs.scss */
section.expertise-container {
  width: 100%;
  height: 75em;
  background-color: #82cec4;
}

/* line 657, ../sass/chuck-designs.scss */
div#expertise {
  width: 100%;
  clear: both;
  box-sizing: border-box;
  height: 75em;
  padding-top: 5%;
  margin: 0 auto;
}
/* line 665, ../sass/chuck-designs.scss */
div#expertise h2 {
  color: #ffffff;
  margin-bottom: 5%;
}

/* line 673, ../sass/chuck-designs.scss */
div.grouped {
  height: 45em;
  width: 125em;
  max-width: 100%;
  margin: 0 auto;
}

/* line 680, ../sass/chuck-designs.scss */
div.left-group-top, div.left-group-bottom, div.right-group-top, div.right-group-bottom {
  height: 15em;
  float: left;
  max-width: 100%;
  width: 57em;
  margin-bottom: 5%;
}

/* line 688, ../sass/chuck-designs.scss */
div.left-group-top, div.right-group-top {
  margin-right: 8%;
}

/* line 692, ../sass/chuck-designs.scss */
div.ex-icon {
  margin: 0 auto;
  height: 15em;
}
/* line 696, ../sass/chuck-designs.scss */
div.ex-icon img {
  width: 15em;
  float: left;
  display: block;
  margin-right: 5%;
}
/* line 703, ../sass/chuck-designs.scss */
div.ex-icon p {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  width: 19em;
  margin-top: 1em;
  float: left;
}
/* line 712, ../sass/chuck-designs.scss */
div.ex-icon p span {
  font-size: 0.8em;
  font-weight: 200;
}

/* START STYLING ABOUT SECTION
-------------------------------------------*/
/* line 723, ../sass/chuck-designs.scss */
section.about-container {
  width: 100%;
  background-image: url(../imgs/phil.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 81.5em;
}

/* line 732, ../sass/chuck-designs.scss */
div#about {
  height: 81.5em;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  clear: both;
  box-sizing: border-box;
}
/* line 740, ../sass/chuck-designs.scss */
div#about h2 {
  color: #ffffff;
}
/* line 745, ../sass/chuck-designs.scss */
div#about > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #ffffff;
  width: 41em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5%;
}
/* line 756, ../sass/chuck-designs.scss */
div#about > p a {
  text-decoration: none;
  color: #82cec4;
  font-size: 1em;
  font-weight: 500;
}
/* line 762, ../sass/chuck-designs.scss */
div#about > p a:hover, div#about > p a:focus {
  color: #f98348;
}
/* line 768, ../sass/chuck-designs.scss */
div#about img {
  width: 15em;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 3em;
}

/* line 778, ../sass/chuck-designs.scss */
.social-icons {
  height: 5.3em;
  width: 25em;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1%;
}

/* line 786, ../sass/chuck-designs.scss */
.linked {
  background: url(../imgs/linkedin.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 794, ../sass/chuck-designs.scss */
.linked:hover, .linked:focus {
  background-image: url(../imgs/linkedin-orange.png);
}

/* line 799, ../sass/chuck-designs.scss */
.pin {
  background: url(../imgs/pinterest.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 807, ../sass/chuck-designs.scss */
.pin:hover, .pin:focus {
  background-image: url(../imgs/pinterest-orange.png);
}

/* line 812, ../sass/chuck-designs.scss */
.google-plus {
  background: url(../imgs/google-plus.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 820, ../sass/chuck-designs.scss */
.google-plus:hover, .google-plus:focus {
  background-image: url(../imgs/google-plus-orange.png);
}

/* line 825, ../sass/chuck-designs.scss */
.vim {
  background: url(../imgs/vimeo.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 833, ../sass/chuck-designs.scss */
.vim:hover, .vim:focus {
  background-image: url(../imgs/vimeo-orange.png);
}

/* line 838, ../sass/chuck-designs.scss */
.behan {
  background: url(../imgs/behance.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 846, ../sass/chuck-designs.scss */
.behan:hover, .behan:focus {
  background-image: url(../imgs/behance-orange.png);
}

/* line 851, ../sass/chuck-designs.scss */
div.dwn-pdf {
  width: 20em;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 4em;
  margin: 0 auto;
}
/* line 858, ../sass/chuck-designs.scss */
div.dwn-pdf a {
  text-decoration: none;
  padding: 1em;
  color: #f98348;
  background-color: transparent;
  border: solid #f98348 0.2em;
  box-sizing: border-box;
  display: block;
  height: 5em;
}
/* line 868, ../sass/chuck-designs.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus {
  color: #ffffff;
  background-color: #f98348;
}
/* line 873, ../sass/chuck-designs.scss */
div.dwn-pdf a > p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 1%;
}

/* END STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/* START STYLING PROJECTS PAGE
-----------------------------------------------------------------------------*/
/* START STYLING TOP PORTFOLIO SECTION
-------------------------------------------*/
/* line 897, ../sass/chuck-designs.scss */
div.portfolio-bg {
  background-image: url(../imgs/portfolio-img.jpg);
  background-position: 0em 0em;
}

/* line 903, ../sass/chuck-designs.scss */
section.top-portfolio-container {
  width: 100%;
  height: 50em;
}

/* line 908, ../sass/chuck-designs.scss */
div#top-portfolio {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 915, ../sass/chuck-designs.scss */
div#top-portfolio h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}
/* line 928, ../sass/chuck-designs.scss */
div#top-portfolio h2 {
  width: 100%;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  z-index: -1;
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
}

/* START STYLING PORTFOLIO SECTION
-------------------------------------------*/
/* line 946, ../sass/chuck-designs.scss */
section.portfolio-container {
  width: 100%;
  height: 131.1em;
  background-color: #ffffff;
}

/* line 953, ../sass/chuck-designs.scss */
div#portfolio {
  height: 131.1em;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  background-color: #ffffff;
}
/* line 966, ../sass/chuck-designs.scss */
div#portfolio > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 980, ../sass/chuck-designs.scss */
div.port-item {
  width: 25%;
  height: 34em;
  float: left;
  overflow: hidden;
}
/* line 987, ../sass/chuck-designs.scss */
div.port-item a > img {
  width: 100%;
}

/* END STYLING PORTFOLIO PAGE
-----------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/
/* START STYLING CONTACT PAGE
-----------------------------------------------------------------------------*/
/* START STYLING TOP CONTACT SECTION
-------------------------------------------*/
/* line 1006, ../sass/chuck-designs.scss */
div.contact-bg {
  background-image: url(../imgs/contact-bg-img-2.jpg);
}

/* line 1011, ../sass/chuck-designs.scss */
section.top-contact-container {
  width: 100%;
  height: 50em;
}

/* line 1016, ../sass/chuck-designs.scss */
div#top-contact {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 1023, ../sass/chuck-designs.scss */
div#top-contact h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}

/* START STYLING CONTACT SECTION
-------------------------------------------*/
/* line 1041, ../sass/chuck-designs.scss */
section#contact-container {
  width: 100%;
  height: 110em;
  background-color: #ffffff;
}

/* line 1047, ../sass/chuck-designs.scss */
div#contact {
  height: 110em;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  clear: both;
  box-sizing: border-box;
}
/* line 1059, ../sass/chuck-designs.scss */
div#contact > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 1073, ../sass/chuck-designs.scss */
h3.alert {
  font-weight: bolder;
  color: #f98348;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 2%;
}

/* line 1081, ../sass/chuck-designs.scss */
div.p1 {
  margin-top: 20%;
}
/* line 1084, ../sass/chuck-designs.scss */
div.p1 h3 {
  font-weight: bolder;
  color: #f98348;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 2%;
}

/* line 1095, ../sass/chuck-designs.scss */
span.error h3 {
  font-weight: 200;
  color: #f98348;
  font-size: 1.5em;
  font-style: italic;
  text-align: left;
  margin-bottom: 2%;
}

/* line 1105, ../sass/chuck-designs.scss */
form#contact-us {
  margin: 0 auto;
  width: 100%;
  max-width: 85em;
}

/* line 1111, ../sass/chuck-designs.scss */
input, textarea {
  margin-bottom: 1.5em;
  display: block;
  width: 61em;
  max-width: 100%;
  height: 100%;
  padding: 1.5em;
  font-size: 1.4em;
  line-height: 1.42857143;
  color: gray;
  border: solid 1px #414042;
  box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  box-sizing: border-box;
}

/* line 1127, ../sass/chuck-designs.scss */
button {
  padding: 1em;
  border: #f98348 solid 0.1em;
  font-size: 2.5em;
  font-weight: 600;
  color: #f98348;
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}
/* line 1138, ../sass/chuck-designs.scss */
button:hover, button:focus {
  background-color: #f98348;
  color: #ffffff;
  border: #f98348 solid 0.1em;
}

/* START FOOTER STYLE
-----------------------------------------------------------------------------*/
/* line 1148, ../sass/chuck-designs.scss */
footer.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  box-sizing: border-box;
  background-color: #82cec4;
  clear: both;
}
/* line 1155, ../sass/chuck-designs.scss */
footer.main-footer p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #ffffff;
}

/* START NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* line 1166, ../sass/chuck-designs.scss */
div.nipost-bg {
  background-image: url(../imgs/nipost-bg-img.jpg);
  background-position: -90em -60em;
}

/* line 1174, ../sass/chuck-designs.scss */
section.nipost-home-container {
  width: 100%;
  height: 50em;
}

/* line 1179, ../sass/chuck-designs.scss */
div#nipost-home {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 1186, ../sass/chuck-designs.scss */
div#nipost-home h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}
/* line 1199, ../sass/chuck-designs.scss */
div#nipost-home h2 {
  width: 100%;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  z-index: -1;
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
}

/* line 1214, ../sass/chuck-designs.scss */
section.nipost-first-container {
  height: auto;
}

/* line 1219, ../sass/chuck-designs.scss */
div.nipost-holder {
  width: 50%;
  clear: both;
  margin: 0 auto;
}
/* line 1224, ../sass/chuck-designs.scss */
div.nipost-holder h2 {
  margin-bottom: 0.5em;
}
/* line 1229, ../sass/chuck-designs.scss */
div.nipost-holder > img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 5%;
}
/* line 1236, ../sass/chuck-designs.scss */
div.nipost-holder > p {
  font-size: 1.9em;
  line-height: 1.4em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 45em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 1248, ../sass/chuck-designs.scss */
div.nipost-holder h3 {
  margin-bottom: 1em;
  font-weight: 500;
  color: #414042;
}
/* line 1255, ../sass/chuck-designs.scss */
div.nipost-holder h4 {
  margin-bottom: 5%;
  font-weight: 200;
  color: #414042;
}

/* line 1263, ../sass/chuck-designs.scss */
div.nipost-collateral-holder {
  width: 100%;
  height: 80em;
  border: solid 1px blue;
}

/* START FLYERS PROJECT PAGE STYLES */
/* line 1273, ../sass/chuck-designs.scss */
div.flyer-bg {
  background-image: url(../imgs/flyer-bg.jpg);
  background-position: 0em -50em;
}

/* line 1279, ../sass/chuck-designs.scss */
section.flyer-first-container {
  height: 315em;
}

/* line 1284, ../sass/chuck-designs.scss */
div#flyer-home {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 1292, ../sass/chuck-designs.scss */
div#flyer-home h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 0.8em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}

/* line 1306, ../sass/chuck-designs.scss */
div.aglow-bg {
  background-image: url(../imgs/aglow-bg.jpg);
}

/* line 1311, ../sass/chuck-designs.scss */
section.aglow-first-container {
  height: 275em;
}

/* line 1316, ../sass/chuck-designs.scss */
div.bugout-bg {
  background-image: url(../imgs/bugout-bg.jpg);
  background-position: -20em -60em;
}

/* line 1322, ../sass/chuck-designs.scss */
section.bugout-first-container {
  height: 75em;
}

/* line 1328, ../sass/chuck-designs.scss */
div.connect-bg {
  background-image: url(../imgs/connect-bg.jpg);
}

/* line 1333, ../sass/chuck-designs.scss */
section.connect-first-container {
  height: 495em;
}

/* line 1338, ../sass/chuck-designs.scss */
.first-sketches {
  margin-bottom: 5%;
  border: solid gray 2px;
}

/* line 1343, ../sass/chuck-designs.scss */
div.wedding-bg {
  background-image: url(../imgs/wedding-bg.jpg);
}

/* line 1348, ../sass/chuck-designs.scss */
section.wedding-first-container {
  height: 345em;
}

/* line 1353, ../sass/chuck-designs.scss */
div.branding-bg {
  background-image: url(../imgs/branding-bg.jpg);
  background-position: -15em -5em;
}

/* line 1359, ../sass/chuck-designs.scss */
section.branding-first-container {
  height: 138em;
}

/* START MEDIA QUERIES
-----------------------------------------------------------------------------*/
/* =Cell Phone Media Query Portrait
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 740px) and (orientation: portrait) {
  /* =Start Nav Style */
  /* line 1378, ../sass/chuck-designs.scss */
  nav.main-nav {
    position: relative;
    top: 0;
    padding: 2%;
  }

  /* line 1384, ../sass/chuck-designs.scss */
  nav.active-nav {
    display: none;
  }

  /* line 1388, ../sass/chuck-designs.scss */
  #lines {
    border-bottom: 1.7em double #82cec4;
    border-top: 0.6em solid #82cec4;
    content: "";
    height: 0.5em;
    width: 3em;
    display: inline-block;
    float: right;
    margin-top: 3%;
    margin-right: 2%;
  }
  /* line 1400, ../sass/chuck-designs.scss */
  #lines:hover {
    border-bottom: 1.7em double #f98348;
    border-top: 0.6em solid #f98348;
  }

  /* line 1407, ../sass/chuck-designs.scss */
  nav.main-nav ul, nav.main-nav:active ul {
    display: none;
    clear: both;
    height: 12em;
    position: absolute;
    padding: 20px;
    background: #82cec4;
    border: 1px solid red;
    right: 0px;
    top: 60px;
    width: 33em;
  }

  	/*nav:active ul {
  		display: none;
  		position: absolute;
  		padding: 20px;
  		background: transparent;
  		border: 1px solid red;
  		right: 0px;
  		top: 60px;
  		width: 100%;
  
  
  	}*/
  /* line 1434, ../sass/chuck-designs.scss */
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    float: left;
    margin-right: 0;
    display: inline;
  }

  /* line 1447, ../sass/chuck-designs.scss */
  nav:hover ul {
    display: block;
  }

  /* =End Nav Style */
  /* =Start Home Section Style */
  /* line 1457, ../sass/chuck-designs.scss */
  div.home-bg {
    height: 63em;
  }

  /* line 1461, ../sass/chuck-designs.scss */
  section.home-container {
    height: 63em;
  }

  /* line 1465, ../sass/chuck-designs.scss */
  div#home {
    padding-top: 0;
    height: 63em;
    clear: both;
  }

  /* line 1471, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-top: 50%;
    margin-bottom: 45%;
    height: 21em;
  }
  /* line 1476, ../sass/chuck-designs.scss */
  div.home-contents h1 {
    line-height: 0.8em;
    font-size: 11em;
    top: 2em;
  }
  /* line 1482, ../sass/chuck-designs.scss */
  div.home-contents h2 {
    line-height: 1.1em;
    font-size: 3em;
  }

  /* line 1488, ../sass/chuck-designs.scss */
  a.dwn-btn {
    max-width: 4.5em;
    height: 4.5em;
    display: none;
  }

  /* =End Home Section Style */
  /* =Start Home Portfolio Section Style */
  /* line 1498, ../sass/chuck-designs.scss */
  section.home-portfolio-container {
    height: 138em;
  }

  /* line 1502, ../sass/chuck-designs.scss */
  div#home-portfolio {
    padding: 10% 2% 0 2%;
    height: 138em;
  }
  /* line 1506, ../sass/chuck-designs.scss */
  div#home-portfolio h2 {
    margin-bottom: 10%;
  }

  /* line 1512, ../sass/chuck-designs.scss */
  div.left-holder {
    height: 46em;
  }

  /* line 1516, ../sass/chuck-designs.scss */
  div.left-top {
    height: 27.4em;
  }
  /* line 1520, ../sass/chuck-designs.scss */
  div.left-top a p {
    top: 15em;
    width: 100%;
    text-align: center;
  }

  /* line 1528, ../sass/chuck-designs.scss */
  div.left-bottom-one {
    height: 18.5em;
  }
  /* line 1532, ../sass/chuck-designs.scss */
  div.left-bottom-one a img {
    width: 112%;
    bottom: 3.5em;
  }
  /* line 1537, ../sass/chuck-designs.scss */
  div.left-bottom-one a p {
    top: 9.4em;
    width: 100%;
    text-align: center;
  }

  /* line 1545, ../sass/chuck-designs.scss */
  div.left-bottom-two {
    height: 18.5em;
  }
  /* line 1549, ../sass/chuck-designs.scss */
  div.left-bottom-two a img {
    width: 112%;
    bottom: 3.5em;
    right: 1em;
  }
  /* line 1555, ../sass/chuck-designs.scss */
  div.left-bottom-two a p {
    top: 9.4em;
    width: 100%;
    text-align: center;
  }

  /* line 1563, ../sass/chuck-designs.scss */
  div.right-holder {
    height: 53.5em;
  }

  /* line 1567, ../sass/chuck-designs.scss */
  div.right-top {
    height: 24.3em;
  }
  /* line 1571, ../sass/chuck-designs.scss */
  div.right-top a img {
    bottom: 10.5em;
    width: 102%;
  }
  /* line 1576, ../sass/chuck-designs.scss */
  div.right-top a p {
    top: 13em;
    width: 100%;
    text-align: center;
  }

  /* line 1584, ../sass/chuck-designs.scss */
  div.right-bottom {
    height: 29em;
  }
  /* line 1588, ../sass/chuck-designs.scss */
  div.right-bottom a img {
    bottom: 8.5em;
    width: 128%;
    right: 7em;
  }
  /* line 1594, ../sass/chuck-designs.scss */
  div.right-bottom a p {
    top: 15.94em;
    width: 100%;
    text-align: center;
  }

  /* line 1602, ../sass/chuck-designs.scss */
  div.port {
    position: relative;
    bottom: 11em;
  }

  /* =End Home Portfolio Section Style */
  /* =Start Process Section Style */
  /* line 1611, ../sass/chuck-designs.scss */
  section.process-container {
    height: 150em;
  }

  /* line 1615, ../sass/chuck-designs.scss */
  div#process {
    padding: 10% 2% 0 2%;
    height: 150em;
  }

  /* line 1621, ../sass/chuck-designs.scss */
  div.icon-holder {
    height: 140em;
    width: 100%;
    max-width: 100%;
  }

  /* line 1628, ../sass/chuck-designs.scss */
  div.icon {
    padding: 10% 14.7% 0 14.7%;
    margin: 0;
    box-sizing: border-box;
  }

  /* =End Process Section Style */
  /* =Start Phil Section Style */
  /* line 1638, ../sass/chuck-designs.scss */
  section.phil-container {
    height: 43.5em;
  }

  /* line 1642, ../sass/chuck-designs.scss */
  div#phil {
    padding: 10% 2% 0 2%;
    height: 43.5em;
  }
  /* line 1646, ../sass/chuck-designs.scss */
  div#phil h2 {
    margin-bottom: 10%;
  }

  /* =End Phil Section Style */
  /* =Start Expertise Section Style */
  /* line 1655, ../sass/chuck-designs.scss */
  section.expertise-container {
    height: 150em;
  }

  /* line 1659, ../sass/chuck-designs.scss */
  div#expertise {
    height: 150em;
    padding: 10% 2% 0 2%;
  }
  /* line 1663, ../sass/chuck-designs.scss */
  div#expertise h2 {
    margin-bottom: 10%;
  }

  /* line 1668, ../sass/chuck-designs.scss */
  div.grouped {
    width: 100%;
    height: 136.8em;
  }

  /* line 1676, ../sass/chuck-designs.scss */
  div.left-group-top,
  div.left-group-bottom,
  div.right-group-top,
  div.right-group-bottom {
    width: 100%;
    float: none;
    height: 32em;
  }

  /* line 1682, ../sass/chuck-designs.scss */
  div.ex-icon {
    height: 32em;
    width: 100%;
  }
  /* line 1686, ../sass/chuck-designs.scss */
  div.ex-icon img {
    margin: 0 auto;
    float: none;
    margin-bottom: 5%;
  }
  /* line 1692, ../sass/chuck-designs.scss */
  div.ex-icon p {
    text-align: center;
    margin-top: 0;
    width: 15em;
    margin: 0 auto;
    display: block;
    float: none;
  }

  /* =End Expertise Section Style */
  /* =Start About Section Style */
  /* line 1706, ../sass/chuck-designs.scss */
  section.about-container {
    height: 110em;
  }

  /* line 1710, ../sass/chuck-designs.scss */
  div#about {
    height: 110em;
    padding: 10% 2% 0 2%;
  }
  /* line 1714, ../sass/chuck-designs.scss */
  div#about h2 {
    margin-bottom: 10%;
  }
  /* line 1718, ../sass/chuck-designs.scss */
  div#about p {
    text-align: center;
    margin-bottom: 10%;
  }

  /* line 1724, ../sass/chuck-designs.scss */
  div.social-icons {
    margin-top: 8%;
  }

  /* =End About Section Style */
  /* =Start Portfolio Page Style */
  /* line 1732, ../sass/chuck-designs.scss */
  section.top-portfolio-container {
    height: 63em;
  }

  /* line 1736, ../sass/chuck-designs.scss */
  div#top-portfolio {
    padding-top: 0;
    height: 63em;
  }
  /* line 1740, ../sass/chuck-designs.scss */
  div#top-portfolio h1 {
    font-size: 7em;
    line-height: 1.5em;
    top: 3.5em;
  }

  /* line 1747, ../sass/chuck-designs.scss */
  section.portfolio-container {
    height: 383.5em;
  }

  /* line 1751, ../sass/chuck-designs.scss */
  div#portfolio {
    padding-top: 10%;
    box-sizing: border-box;
    height: 383.5em;
  }
  /* line 1756, ../sass/chuck-designs.scss */
  div#portfolio p {
    margin-bottom: 10%;
  }

  /* line 1762, ../sass/chuck-designs.scss */
  div.port-item {
    height: 30em;
  }

  /* =End Portfolio Page Style */
  /* =Start Contact Section Style */
  /* line 1770, ../sass/chuck-designs.scss */
  div.contact-bg {
    background-position: -102em -32em;
  }

  /* line 1774, ../sass/chuck-designs.scss */
  section.top-contact-container {
    height: 63em;
  }

  /* line 1778, ../sass/chuck-designs.scss */
  div#top-contact {
    padding-top: 0;
    height: 63em;
  }
  /* line 1782, ../sass/chuck-designs.scss */
  div#top-contact h1 {
    font-size: 11em;
    line-height: 0.8em;
    top: 2.1em;
  }

  /* line 1789, ../sass/chuck-designs.scss */
  div#contact {
    padding: 10% 2% 0 2%;
  }
  /* line 1792, ../sass/chuck-designs.scss */
  div#contact h2 {
    margin-bottom: 10%;
  }

  /* =End Contact Section Style */
}
/* =iPad Media Query
-----------------------------------------------------------------------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 1820, ../sass/chuck-designs.scss */
  div.home-bg {
    height: 91.8em;
    border: solid 1px red;
  }

  /* line 1825, ../sass/chuck-designs.scss */
  section.home-container {
    height: 91.8em;
    border: solid 1px red;
  }

  /* line 1830, ../sass/chuck-designs.scss */
  div#home {
    height: 91em;
    padding-top: 7%;
  }

  /* line 1835, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-top: 30%;
    margin-bottom: 33%;
    border: solid 1px red;
    height: 31em;
  }

  /* line 1842, ../sass/chuck-designs.scss */
  div.home-contents h1 {
    line-height: 0.8em;
    top: 2.1em;
  }

  /* line 1847, ../sass/chuck-designs.scss */
  section.home-portfolio-container, div#home-portfolio {
    height: 185em;
  }

  /* line 1851, ../sass/chuck-designs.scss */
  div.left-holder, div.right-holder {
    width: 76.8em;
  }

  /* line 1855, ../sass/chuck-designs.scss */
  div.left-bottom-one, div.left-bottom-two {
    height: 26.5em;
  }
  /* line 1859, ../sass/chuck-designs.scss */
  div.left-bottom-one a p, div.left-bottom-two a p {
    top: 14.4em;
  }

  /* line 1865, ../sass/chuck-designs.scss */
  div.left-bottom-two a img {
    bottom: 7.5em;
  }

  /* line 1869, ../sass/chuck-designs.scss */
  div.right-top a img {
    bottom: 26.5em;
  }

  /* line 1873, ../sass/chuck-designs.scss */
  div.right-bottom a img {
    width: 115%;
    bottom: 15em;
    right: 8.5em;
  }

  /* line 1879, ../sass/chuck-designs.scss */
  div.port {
    position: relative;
    bottom: 15em;
  }
}
/* =Media Query for Laptops
-----------------------------------------------------------------------------*/
@media screen and (min-width: 1024px) and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 2) {
  /* START STYLING LAPTOP SIZE INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START STYLING LAPTOP SIZE SECTION HOME AND HOME-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* =Start Home Section Style */
  /* line 1910, ../sass/chuck-designs.scss */
  div.home-bg {
    height: 67.8em;
  }

  /* line 1914, ../sass/chuck-designs.scss */
  section.home-container {
    height: 67.8em;
  }

  /* line 1918, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-top: 8%;
    margin-bottom: 8%;
  }

  /* line 1923, ../sass/chuck-designs.scss */
  div#home-portfolio {
    padding-top: 8%;
  }

  /* =End Home Section Style */
  /* line 1929, ../sass/chuck-designs.scss */
  div.grouped {
    width: 115.5em;
    height: 38em;
  }

  /* line 1934, ../sass/chuck-designs.scss */
  div.icon {
    margin: 2.22%;
  }

  /* line 1938, ../sass/chuck-designs.scss */
  div.ex-icon {
    height: 20em;
  }

  /* line 1942, ../sass/chuck-designs.scss */
  div.ex-icon p {
    width: 19em;
  }

  /* line 1947, ../sass/chuck-designs.scss */
  div.left-group-top,
  div.right-group-top {
    margin-right: 3%;
    width: 56em;
    height: 17em;
  }

  /* line 1953, ../sass/chuck-designs.scss */
  section.process-container {
    height: 55em;
  }

  /* line 1957, ../sass/chuck-designs.scss */
  div#process {
    padding-top: 5%;
    height: 55em;
  }

  /* line 1962, ../sass/chuck-designs.scss */
  section.phil-container {
    height: 35em;
  }

  /* line 1966, ../sass/chuck-designs.scss */
  div#phil {
    height: 35em;
    padding-top: 5%;
  }

  /* line 1971, ../sass/chuck-designs.scss */
  div#expertise {
    height: 65em;
    padding-top: 5%;
  }

  /* line 1976, ../sass/chuck-designs.scss */
  section.expertise-container {
    height: 65em;
  }

  /* line 1981, ../sass/chuck-designs.scss */
  div.left-group-bottom,
  div.right-group-bottom {
    width: 56em;
    height: 17em;
  }

  /* line 1986, ../sass/chuck-designs.scss */
  section.about-container {
    height: 75em;
  }

  /* line 1990, ../sass/chuck-designs.scss */
  div#about {
    padding-top: 5%;
    height: 75em;
  }

  /* line 1995, ../sass/chuck-designs.scss */
  div.port-item {
    width: 25%;
    height: 24em;
  }

  /* line 2000, ../sass/chuck-designs.scss */
  section.portfolio-container {
    height: 96.7em;
  }

  /* line 2004, ../sass/chuck-designs.scss */
  div#portfolio {
    height: 96.7em;
    padding-top: 5%;
  }

  /* line 2011, ../sass/chuck-designs.scss */
  section.top-portfolio-container,
  section.top-contact-container,
  section.nipost-home-container {
    height: 40em;
  }

  /* line 2015, ../sass/chuck-designs.scss */
  div.contact-bg {
    background-position: -53em -35em;
  }

  /* NIPOST Page Style */
  /* line 2021, ../sass/chuck-designs.scss */
  section.nipost-first-container, div.nipost-holder {
    height: 465em;
  }
}
@media screen and (max-width: 1650px) and (min-width: 1460px) {
  /* line 2030, ../sass/chuck-designs.scss */
  section.home-container {
    height: 78.2em;
  }

  /* line 2034, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-top: 6%;
    margin-bottom: 10%;
  }

  /* line 2039, ../sass/chuck-designs.scss */
  section.phil-container {
    height: 37em;
  }

  /* line 2043, ../sass/chuck-designs.scss */
  div.port-item {
    height: 30em;
  }

  /* line 2048, ../sass/chuck-designs.scss */
  section.portfolio-container {
    height: 116.5em;
  }

  /* line 2052, ../sass/chuck-designs.scss */
  div#portfolio {
    height: 116.5em;
    padding-top: 5%;
  }
}
