/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://cobadesign.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =Fonts
-----------------------------------------------------------------------------*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 30, ../sass/chuck-designs-2.scss */
div#home, div#phil, div#projects, div#about, div#resume, div#contact-me, section.nipost-first-container {
  margin: 0 auto;
  max-width: 135em;
  width: 100%;
  height: 96em;
  clear: both;
  padding-top: 7%;
  box-sizing: border-box;
}

/* line 40, ../sass/chuck-designs-2.scss */
section.home-container, section.phil-container, section.project-container, section.about-container, section#resume-fourth-container, section#contact-container {
  width: 100%;
}

/* line 44, ../sass/chuck-designs-2.scss */
div#phil h2, div#projects h2, div#about h2, section.nipost-first-container h2, section.nipost-first-container h3 {
  text-align: center;
  margin-bottom: 2%;
  color: #82cec4;
  font-size: 3.5em;
}

/* line 51, ../sass/chuck-designs-2.scss */
a.social-one {
  width: 4em;
  height: 4em;
  max-height: 100%;
  max-width: 100%;
  display: block;
  background-size: 6em;
  background-repeat: no-repeat;
  float: left;
  box-sizing: border-box;
}

/* line 64, ../sass/chuck-designs-2.scss */
div.dwn-pdf, div.skill-info {
  float: left;
  width: 100%;
  max-width: 33em;
  box-sizing: border-box;
  margin-right: 1em;
}

/* line 72, ../sass/chuck-designs-2.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus, button:hover, button:focus {
  color: #f0555a;
  background-color: #ffffff;
  border: solid #f0555a 0.125em;
}

/* line 78, ../sass/chuck-designs-2.scss */
div.skill-info ul li, div.education ul li {
  background-image: url(../imgs/bullet.png);
  background-repeat: no-repeat;
  list-style: none;
  background-position: center left;
  background-size: 0.9em;
  font-size: 1.7em;
  line-height: 1.5em;
  padding-left: 1.5em;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 123, ../sass/chuck-designs-2.scss */
a:link, a:visited, a:hover, a:focus, a:active
html {
  font-size: 10px;
}

/* line 127, ../sass/chuck-designs-2.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 132, ../sass/chuck-designs-2.scss */
body {
  font-size: 10px;
  /*font-family: $helvetica;*/
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 141, ../sass/chuck-designs-2.scss */
#main-container {
  width: 100%;
}

/* line 145, ../sass/chuck-designs-2.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  padding: 2em 0 2em 0;
}
/* line 153, ../sass/chuck-designs-2.scss */
header.main-header img {
  float: left;
  max-width: 6em;
  width: 100%;
  padding-left: 2%;
}

/* line 161, ../sass/chuck-designs-2.scss */
.active-link-style {
  border-bottom: solid #82cec4 0.3em;
}

/* line 165, ../sass/chuck-designs-2.scss */
nav.main-nav {
  float: right;
  padding-right: 2%;
  position: relative;
  top: 4.5em;
}
/* line 171, ../sass/chuck-designs-2.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}
/* line 178, ../sass/chuck-designs-2.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}
/* line 184, ../sass/chuck-designs-2.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7em;
  font-weight: bold;
  /*&:visited{
  	border-bottom: solid $red-color .3em;
  }*/
}
/* line 194, ../sass/chuck-designs-2.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  border-bottom: solid #82cec4 0.3em;
}

/* line 202, ../sass/chuck-designs-2.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* START STYLING SECTION HOME AND HOME-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 212, ../sass/chuck-designs-2.scss */
section.home-container {
  background-image: url(../imgs/bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 96em;
  clear: both;
  width: 100%;
}

/* line 222, ../sass/chuck-designs-2.scss */
div#home {
  max-width: 135em;
  padding-top: 10%;
}

/* line 228, ../sass/chuck-designs-2.scss */
div.home-contents {
  height: 81em;
  width: 100%;
  max-width: 103em;
  margin: 0 auto;
  margin-top: 1%;
}
/* line 235, ../sass/chuck-designs-2.scss */
div.home-contents h1 {
  width: 100%;
  max-width: 22em;
  color: #ffffff;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  font-weight: 200;
  line-height: 1.5em;
}
/* line 246, ../sass/chuck-designs-2.scss */
div.home-contents img {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 253, ../sass/chuck-designs-2.scss */
div.home-contents a {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  position: relative;
  top: 17%;
  margin: 0 auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 6em;
  background-repeat: no-repeat;
}
/* line 266, ../sass/chuck-designs-2.scss */
div.home-contents a:hover, div.home-contents a:focus {
  background-image: url(../imgs/dwn-btn.png);
}

/* END SECTION HOME AND HOME-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PHIL AND PHIL-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 280, ../sass/chuck-designs-2.scss */
section.phil-container {
  height: 50em;
  background-color: #82cec4;
}

/* line 287, ../sass/chuck-designs-2.scss */
div#phil {
  height: 50em;
  padding-top: 15em;
  padding-bottom: 15em;
  max-width: 192em;
}
/* line 295, ../sass/chuck-designs-2.scss */
div#phil h2 {
  color: #ffffff;
}
/* line 300, ../sass/chuck-designs-2.scss */
div#phil p {
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.5em;
  color: #ffffff;
  width: 50em;
  margin: 0 auto;
  text-align: center;
}

/* END STYLING SECTION PHIL AND PHIL-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION PROJECTS AND PROJECT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 319, ../sass/chuck-designs-2.scss */
section.project-container {
  height: 91em;
}

/* line 325, ../sass/chuck-designs-2.scss */
div#projects {
  height: 91em;
  padding-top: 15em;
  max-width: 192em;
}

/* line 337, ../sass/chuck-designs-2.scss */
div.port-item {
  width: 100%;
  max-width: 47.88em;
  height: 34em;
  float: right;
  overflow: hidden;
}
/* line 345, ../sass/chuck-designs-2.scss */
div.port-item a > img {
  width: 100%;
  max-width: 48.5em;
}

/* line 355, ../sass/chuck-designs-2.scss */
div#nipost a > img {
  width: 100%;
  max-width: 48.5em;
}

/* END SECTION PROJECTS AND PROJECT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* END STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/* START STYLING ABOUT PAGE
-----------------------------------------------------------------------------*/
/* START ABOUT CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 380, ../sass/chuck-designs-2.scss */
section.about-container {
  height: 90em;
}

/* line 385, ../sass/chuck-designs-2.scss */
div#about {
  height: 90em;
  padding-top: 12%;
}
/* line 391, ../sass/chuck-designs-2.scss */
div#about h2 {
  color: #414042;
}
/* line 396, ../sass/chuck-designs-2.scss */
div#about p {
  font-size: 2.5em;
  line-height: 1.6em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 38em;
  float: left;
  margin-top: 5%;
}
/* line 407, ../sass/chuck-designs-2.scss */
div#about p a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  color: #414042;
  font-weight: bold;
}
/* line 414, ../sass/chuck-designs-2.scss */
div#about p a:hover, div#about p a:focus {
  color: gray;
}

/* line 421, ../sass/chuck-designs-2.scss */
div.img-holder {
  width: auto;
  display: block;
  float: right;
}
/* line 426, ../sass/chuck-designs-2.scss */
div.img-holder > img {
  width: 100%;
  max-width: 35em;
  margin-bottom: 5%;
}

/* line 435, ../sass/chuck-designs-2.scss */
div.social {
  width: 100%;
  max-width: 4em;
  height: 4em;
  margin: 0 auto;
}

/* line 442, ../sass/chuck-designs-2.scss */
a.social-one {
  background-image: url(../imgs/in.png);
  background-size: 4em;
}
/* line 447, ../sass/chuck-designs-2.scss */
a.social-one:hover, a.social-one:focus {
  background-image: url(../imgs/in-white.png);
}

/* END SECTION ABOUT AND ABOUT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION RESUME AND RESUME-FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 460, ../sass/chuck-designs-2.scss */
section#resume-fourth-container {
  clear: both;
  height: 233em;
}

/* line 466, ../sass/chuck-designs-2.scss */
div#resume {
  max-width: 112.5em;
  padding-top: 10%;
  height: 233em;
}

/* line 473, ../sass/chuck-designs-2.scss */
div.dwn-pdf {
  margin-bottom: 4em;
}
/* line 477, ../sass/chuck-designs-2.scss */
div.dwn-pdf a {
  text-decoration: none;
  padding: 1.9em 0 0 1.5em;
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  background-color: #82cec4;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  background-image: url(../imgs/pdf-btn-white.png);
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 13em 1.1em;
  height: 5em;
}
/* line 494, ../sass/chuck-designs-2.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus {
  background-image: url(../imgs/pdf-btn-red.png);
}

/* line 502, ../sass/chuck-designs-2.scss */
div.skill-info {
  height: 153em;
  background-color: #efefef;
  padding: 6em 3.5em 0 3.5em;
}
/* line 508, ../sass/chuck-designs-2.scss */
div.skill-info h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 3em;
  text-align: center;
}
/* line 515, ../sass/chuck-designs-2.scss */
div.skill-info h4 {
  font-size: 2em;
}
/* line 519, ../sass/chuck-designs-2.scss */
div.skill-info hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  border: solid 0.2em #f0555a;
  width: 5.5em;
}
/* line 528, ../sass/chuck-designs-2.scss */
div.skill-info ul {
  margin-bottom: 4em;
}

/* line 538, ../sass/chuck-designs-2.scss */
div.resume-info {
  float: right;
  max-width: 76em;
  width: 100%;
}

/* line 544, ../sass/chuck-designs-2.scss */
div.education {
  color: #414042;
  background-color: #efefef;
  padding: 5%;
  margin-bottom: 5%;
  width: 100%;
  max-width: 69em;
}
/* line 552, ../sass/chuck-designs-2.scss */
div.education h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 1em;
}
/* line 558, ../sass/chuck-designs-2.scss */
div.education h4 {
  font-size: 2em;
  margin-bottom: .5em;
}
/* line 562, ../sass/chuck-designs-2.scss */
div.education h4 span {
  font-weight: 300;
}
/* line 567, ../sass/chuck-designs-2.scss */
div.education p {
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 2em;
}
/* line 573, ../sass/chuck-designs-2.scss */
div.education ul {
  margin-bottom: 2em;
}

/* END SECTION RESUME AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 590, ../sass/chuck-designs-2.scss */
section#contact-container {
  /*background-color: $alt-gray-color;*/
  background-image: url(../imgs/contact-us-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 599, ../sass/chuck-designs-2.scss */
div#contact-me {
  height: 90em;
  padding-top: 10%;
}
/* line 604, ../sass/chuck-designs-2.scss */
div#contact-me h2 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 3em;
  margin: 2% 0 2% 0;
}

/* line 616, ../sass/chuck-designs-2.scss */
form#get-in-touch {
  margin: 0 auto;
  width: 100%;
  max-width: 85em;
}

/* line 622, ../sass/chuck-designs-2.scss */
input, textarea {
  margin-bottom: 1.5em;
  display: block;
  width: 100%;
  max-width: 61em;
  height: 100%;
  padding: 1.5em;
  font-size: 1.4em;
  line-height: 1.42857143;
  color: gray;
  border: solid 1px #414042;
  border-radius: .5em;
  box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  box-sizing: border-box;
}

/* line 639, ../sass/chuck-designs-2.scss */
button {
  padding: 1em 1em;
  border: #f0555a;
  border-radius: .3em;
  font-size: 3em;
  font-weight: 600;
  color: #ffffff;
  background-color: #f0555a;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

/* END SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START FOOTER STYLE
-----------------------------------------------------------------------------*/
/* line 662, ../sass/chuck-designs-2.scss */
footer.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  box-sizing: border-box;
  background-color: #82cec4;
}
/* line 668, ../sass/chuck-designs-2.scss */
footer.main-footer p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #ffffff;
}

/*END FOOTER STYLE
-----------------------------------------------------------------------------*/
/* START NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* line 682, ../sass/chuck-designs-2.scss */
section.nipost-first-container {
  height: auto;
  padding-top: 7%;
}
/* line 687, ../sass/chuck-designs-2.scss */
section.nipost-first-container h2 {
  margin-bottom: 0.5em;
}
/* line 692, ../sass/chuck-designs-2.scss */
section.nipost-first-container > img {
  width: 100%;
  max-width: 100em;
  display: block;
  margin: 0 auto;
  margin-bottom: 10em;
}
/* line 700, ../sass/chuck-designs-2.scss */
section.nipost-first-container > p {
  font-size: 1.9em;
  line-height: 1.4em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 45em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 712, ../sass/chuck-designs-2.scss */
section.nipost-first-container h3 {
  margin-bottom: 1em;
}

/* line 718, ../sass/chuck-designs-2.scss */
div.first-sketches {
  margin-bottom: 3em;
}
/* line 721, ../sass/chuck-designs-2.scss */
div.first-sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}
/* line 729, ../sass/chuck-designs-2.scss */
div.first-sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
}
/* line 736, ../sass/chuck-designs-2.scss */
div.first-sketches iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100em;
  border: solid 1px #414042;
  margin-bottom: 10em;
  height: 593px;
}

/* line 751, ../sass/chuck-designs-2.scss */
div.second-sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-top: 1em;
}
/* line 759, ../sass/chuck-designs-2.scss */
div.second-sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  margin-top: 3em;
}

/* line 769, ../sass/chuck-designs-2.scss */
div.sketches {
  margin-bottom: 3em;
}
/* line 772, ../sass/chuck-designs-2.scss */
div.sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}
/* line 780, ../sass/chuck-designs-2.scss */
div.sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  margin-bottom: 10em;
}

/* END NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* START MEDIA QUERIES
-----------------------------------------------------------------------------*/
/* =Cell Phone Media Query Portrait
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 740px) and (orientation: portrait) {
  /* line 808, ../sass/chuck-designs-2.scss */
  section#home {
    width: 100%;
  }

  /* line 812, ../sass/chuck-designs-2.scss */
  header.main-header {
    width: 100%;
    height: 17em;
  }
  /* line 816, ../sass/chuck-designs-2.scss */
  header.main-header img {
    margin: 0 auto !important;
    display: block;
    width: 20em;
    float: none;
  }

  /* line 824, ../sass/chuck-designs-2.scss */
  nav.main-nav {
    float: none;
    padding: 0 2em 0 2em;
  }
  /* line 828, ../sass/chuck-designs-2.scss */
  nav.main-nav ul {
    margin: 0 auto;
    width: 100%;
    max-width: 30em;
  }

  /* line 835, ../sass/chuck-designs-2.scss */
  div#projects {
    margin: 0 auto;
    border: solid 1px pink;
    height: 76em;
    clear: both;
    width: 100%;
    padding: 10% 2% 0% 2%;
    box-sizing: border-box;
  }
  /* line 844, ../sass/chuck-designs-2.scss */
  div#projects h2 {
    text-align: center;
    margin-bottom: 2%;
    color: gray;
    font-size: 3em;
    margin: 2% 0 2% 0;
  }

  /* line 854, ../sass/chuck-designs-2.scss */
  div.port-item {
    width: 48.4%;
    margin-right: 2%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 864, ../sass/chuck-designs-2.scss */
  div.port-item-last {
    margin-right: 0% !important;
    border: solid 1px red;
    width: 48.4%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 873, ../sass/chuck-designs-2.scss */
  div#margin-out {
    margin-right: 0;
  }

  /* line 877, ../sass/chuck-designs-2.scss */
  div#margin-outter {
    margin-right: 0;
  }
}
/* =iPad Media Query
-----------------------------------------------------------------------------*/
/* =Media Query for Laptops
-----------------------------------------------------------------------------*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* START STYLING LAPTOP SIZE INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START STYLING LAPTOP SIZE SECTION HOME AND HOME-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 926, ../sass/chuck-designs-2.scss */
  section.home-container {
    background-image: url(../imgs/bg.jpg);
    background-position: center center;
    background-size: cover;
    height: 96em;
    clear: both;
    width: 100%;
    height: 68em;
  }

  /* line 937, ../sass/chuck-designs-2.scss */
  div#home {
    max-width: 135em;
    padding-top: 1em;
    height: 68em;
  }

  /* line 944, ../sass/chuck-designs-2.scss */
  div.home-contents {
    height: 64.5em;
    width: 100%;
    max-width: 103em;
    margin: 0 auto;
    margin-top: 3%;
  }
  /* line 951, ../sass/chuck-designs-2.scss */
  div.home-contents h1 {
    width: 100%;
    max-width: 22em;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
    font-weight: 200;
    line-height: 1.5em;
  }
  /* line 963, ../sass/chuck-designs-2.scss */
  div.home-contents img {
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    max-width: 70em;
  }
  /* line 973, ../sass/chuck-designs-2.scss */
  div.home-contents a {
    max-width: 4em;
    height: 4em;
    max-height: 100%;
    width: 100%;
    display: block;
    position: relative;
    top: 5%;
    margin: 0 auto;
    background-image: url(../imgs/dwn-btn-white.png);
    background-size: 4em;
    background-repeat: no-repeat;
  }
  /* line 986, ../sass/chuck-designs-2.scss */
  div.home-contents a:hover, div.home-contents a:focus {
    background-image: url(../imgs/dwn-btn.png);
  }

  /* END LAPTOP SIZE SECTION HOME AND HOME-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SIZE SECTION PROJECTS AND PROJECT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1001, ../sass/chuck-designs-2.scss */
  section.project-container {
    height: 53em;
    margin-bottom: 0;
  }

  /* line 1009, ../sass/chuck-designs-2.scss */
  div#projects {
    height: 53em;
    margin-top: 20em;
  }

  /* line 1020, ../sass/chuck-designs-2.scss */
  div.port-item {
    width: 100%;
    max-width: 31.99em;
    height: 23.8em;
    float: right;
    overflow: hidden;
  }
  /* line 1028, ../sass/chuck-designs-2.scss */
  div.port-item a img {
    width: 100%;
    max-width: 34em;
  }

  /* line 1040, ../sass/chuck-designs-2.scss */
  div#nipost a img {
    width: 100%;
    max-width: 34em;
  }

  /* END LAPTOP SIZE SECTION PROJECTS AND SECOND-INDEX-PAGE-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* END LAPTOP SIZE STYLING INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SECTION RESUME AND FOURTH-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1057, ../sass/chuck-designs-2.scss */
  section#resume-fourth-container {
    height: 226em;
    clear: both;
  }

  /* line 1063, ../sass/chuck-designs-2.scss */
  div#resume {
    max-width: 112.5em;
    padding-top: 10%;
    height: 226em;
  }

  /* line 1071, ../sass/chuck-designs-2.scss */
  div.dwn-pdf {
    margin-bottom: 4em;
  }
  /* line 1075, ../sass/chuck-designs-2.scss */
  div.dwn-pdf a {
    text-decoration: none;
    padding: 1.9em 0 0 1.5em;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    background-color: #f0555a;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    background-image: url(../imgs/pdf-btn-white.png);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 13em 1.1em;
    height: 5em;
  }
  /* line 1092, ../sass/chuck-designs-2.scss */
  div.dwn-pdf a:hover, div.dwn-pdf a:focus {
    background-image: url(../imgs/pdf-btn-red.png);
  }

  /* line 1100, ../sass/chuck-designs-2.scss */
  div.skill-info {
    height: 153em;
    background-color: #efefef;
    padding: 6em 3.5em 0 3.5em;
  }
  /* line 1106, ../sass/chuck-designs-2.scss */
  div.skill-info h3 {
    font-size: 2.5em;
    color: #f0555a;
    margin-bottom: 3em;
    text-align: center;
  }
  /* line 1113, ../sass/chuck-designs-2.scss */
  div.skill-info h4 {
    font-size: 2em;
  }
  /* line 1117, ../sass/chuck-designs-2.scss */
  div.skill-info hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    border: solid 0.2em #f0555a;
    width: 5.5em;
  }
  /* line 1126, ../sass/chuck-designs-2.scss */
  div.skill-info ul {
    margin-bottom: 4em;
  }

  /* line 1136, ../sass/chuck-designs-2.scss */
  div.resume-info {
    float: right;
    max-width: 76em;
    width: 100%;
  }

  /* line 1142, ../sass/chuck-designs-2.scss */
  div.education {
    color: #414042;
    background-color: #efefef;
    padding: 5%;
    margin-bottom: 5%;
    width: 100%;
    max-width: 69em;
  }
  /* line 1150, ../sass/chuck-designs-2.scss */
  div.education h3 {
    font-size: 2.5em;
    color: #f0555a;
    margin-bottom: 1em;
  }
  /* line 1156, ../sass/chuck-designs-2.scss */
  div.education h4 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  /* line 1160, ../sass/chuck-designs-2.scss */
  div.education h4 span {
    font-weight: 300;
  }
  /* line 1165, ../sass/chuck-designs-2.scss */
  div.education p {
    font-size: 1.7em;
    line-height: 1.5em;
    margin-bottom: 2em;
  }
  /* line 1171, ../sass/chuck-designs-2.scss */
  div.education ul {
    margin-bottom: 2em;
  }

  /* END LAPTOP SECTION RESUME AND FOURTH-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP ABOUT CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1187, ../sass/chuck-designs-2.scss */
  section.about-container {
    height: 62em;
  }

  /* line 1192, ../sass/chuck-designs-2.scss */
  div#about {
    height: 61em;
    padding-top: 10%;
    max-width: 110em;
  }
  /* line 1199, ../sass/chuck-designs-2.scss */
  div#about h2 {
    color: #414042;
  }
  /* line 1204, ../sass/chuck-designs-2.scss */
  div#about p {
    font-size: 2em;
    line-height: 1.6em;
    color: gray;
    font-weight: 300;
    width: 100%;
    max-width: 37em;
    float: left;
    margin-top: 6%;
  }
  /* line 1214, ../sass/chuck-designs-2.scss */
  div#about p a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    color: #414042;
    font-weight: bold;
  }
  /* line 1221, ../sass/chuck-designs-2.scss */
  div#about p a:hover, div#about p a:focus {
    color: gray;
  }

  /* line 1228, ../sass/chuck-designs-2.scss */
  div.img-holder {
    width: auto;
    display: block;
    float: right;
  }
  /* line 1233, ../sass/chuck-designs-2.scss */
  div.img-holder > img {
    width: 100%;
    max-width: 30em;
    margin-bottom: 5%;
  }

  /* line 1241, ../sass/chuck-designs-2.scss */
  div.social {
    width: 100%;
    max-width: 4em;
    height: 4em;
    margin: 0 auto;
  }

  /* line 1248, ../sass/chuck-designs-2.scss */
  a.social-one {
    background-image: url(../imgs/in.png);
    background-size: 4em;
  }
  /* line 1253, ../sass/chuck-designs-2.scss */
  a.social-one:hover, a.social-one:focus {
    background-image: url(../imgs/in-white.png);
  }

  /* END LAPTOP SECTION ABOUT AND ABOUT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SECTION CONTACT AND CONTACT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1264, ../sass/chuck-designs-2.scss */
  section#contact-container {
    /*background-color: $alt-gray-color;*/
    background-image: url(../imgs/contact-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 62em;
  }

  /* line 1274, ../sass/chuck-designs-2.scss */
  div#contact-me {
    height: 62em;
    padding-top: 8.5%;
  }
  /* line 1279, ../sass/chuck-designs-2.scss */
  div#contact-me h2 {
    text-align: center;
    margin-bottom: 2%;
    color: #414042;
    font-size: 2.5em;
    margin: 2% 0 2% 0;
  }

  /* line 1291, ../sass/chuck-designs-2.scss */
  form#get-in-touch {
    margin: 0 auto;
    width: 100%;
    max-width: 65em;
  }

  /* line 1297, ../sass/chuck-designs-2.scss */
  input, textarea {
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    max-width: 61em;
    height: 100%;
    padding: 1em;
    font-size: 1.4em;
    line-height: 1.42857143;
    color: gray;
    border: solid 1px #414042;
    border-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    box-sizing: border-box;
  }

  /* line 1314, ../sass/chuck-designs-2.scss */
  button {
    padding: 0.8em 0.8em;
    border: #f0555a;
    border-radius: .3em;
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    background-color: #f0555a;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
  }

  /* END LAPTOP SECTION CONTACT AND CONTACT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP NIPOST PROJECT STYLES
  -----------------------------------------------------------------------------*/
  /* line 1338, ../sass/chuck-designs-2.scss */
  section.nipost-first-container {
    height: auto;
    padding-top: 10%;
  }
  /* line 1343, ../sass/chuck-designs-2.scss */
  section.nipost-first-container h2 {
    margin-bottom: 0.5em;
  }
  /* line 1348, ../sass/chuck-designs-2.scss */
  section.nipost-first-container > img {
    width: 100%;
    max-width: 80em;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  /* line 1356, ../sass/chuck-designs-2.scss */
  section.nipost-first-container > p {
    font-size: 1.9em;
    line-height: 1.4em;
    color: gray;
    font-weight: 300;
    width: 100%;
    max-width: 45em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  /* line 1368, ../sass/chuck-designs-2.scss */
  section.nipost-first-container h3 {
    margin-bottom: 1em;
  }

  /* line 1374, ../sass/chuck-designs-2.scss */
  div.first-sketches {
    margin-bottom: 3em;
  }
  /* line 1377, ../sass/chuck-designs-2.scss */
  div.first-sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
  }
  /* line 1385, ../sass/chuck-designs-2.scss */
  div.first-sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
  }
  /* line 1392, ../sass/chuck-designs-2.scss */
  div.first-sketches iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 80em;
    border: solid 1px #414042;
    margin-bottom: 10em;
    height: 500px;
  }

  /* line 1404, ../sass/chuck-designs-2.scss */
  div.second-sketches {
    max-height: 250em;
    height: 100%;
  }
  /* line 1408, ../sass/chuck-designs-2.scss */
  div.second-sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-top: 1em;
  }
  /* line 1416, ../sass/chuck-designs-2.scss */
  div.second-sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
  }

  /* line 1426, ../sass/chuck-designs-2.scss */
  div.sketches {
    margin-bottom: 3em;
  }
  /* line 1429, ../sass/chuck-designs-2.scss */
  div.sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
  }
  /* line 1437, ../sass/chuck-designs-2.scss */
  div.sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
  }

  /* END LAPTOP NIPOST PROJECT STYLES
  -----------------------------------------------------------------------------*/
}
