/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://cobadesign.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =Fonts
-----------------------------------------------------------------------------*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 30, ../sass/chuck-designs-2.scss */
div#expertise, div#end, div#projects, div#about, div#resume, div#contact-me, section.nipost-first-container {
  margin: 0 auto;
  max-width: 135em;
  width: 100%;
  height: 96em;
  clear: both;
  padding-top: 7%;
  box-sizing: border-box;
}

/* line 40, ../sass/chuck-designs-2.scss */
div#portfolio h2, div#process h2, div#phil h2, div#expertise h2, div#end h2, div#projects h2, div#about h2, section.nipost-first-container h2, section.nipost-first-container h3 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 4.5em;
  font-weight: 300;
}

/* line 48, ../sass/chuck-designs-2.scss */
a.social-one {
  width: 4em;
  height: 4em;
  max-height: 100%;
  max-width: 100%;
  display: block;
  background-size: 6em;
  background-repeat: no-repeat;
  float: left;
  box-sizing: border-box;
}

/* line 61, ../sass/chuck-designs-2.scss */
div.dwn-pdf, div.skill-info {
  float: left;
  width: 100%;
  max-width: 33em;
  box-sizing: border-box;
  margin-right: 1em;
}

/* line 69, ../sass/chuck-designs-2.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus, button:hover, button:focus {
  color: #82cec4;
  background-color: #ffffff;
  border: solid #82cec4 0.125em;
}

/* line 75, ../sass/chuck-designs-2.scss */
div.skill-info ul li, div.education ul li {
  background-image: url(../imgs/bullet.png);
  background-repeat: no-repeat;
  list-style: none;
  background-position: center left;
  background-size: 0.9em;
  font-size: 1.7em;
  line-height: 1.5em;
  padding-left: 1.5em;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 120, ../sass/chuck-designs-2.scss */
a:link, a:visited, a:hover, a:focus, a:active
html {
  font-size: 10px;
}

/* line 124, ../sass/chuck-designs-2.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 129, ../sass/chuck-designs-2.scss */
body {
  font-size: 10px;
  /*font-family: $helvetica;*/
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 138, ../sass/chuck-designs-2.scss */
hr {
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 5%;
  border: 0;
}

/* line 146, ../sass/chuck-designs-2.scss */
#main-container {
  width: 100%;
  overflow: hidden;
}

/* line 151, ../sass/chuck-designs-2.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  padding: 2em 0 2em 0;
}
/* line 159, ../sass/chuck-designs-2.scss */
header.main-header img {
  float: left;
  width: 100%;
  max-width: 4em;
  padding-left: 2%;
}

/* line 167, ../sass/chuck-designs-2.scss */
.active-link-style {
  border-bottom: solid #82cec4 0.3em;
}

/* line 171, ../sass/chuck-designs-2.scss */
nav.main-nav {
  float: right;
  padding-right: 2%;
  position: relative;
  top: 1.3em;
}
/* line 177, ../sass/chuck-designs-2.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}
/* line 184, ../sass/chuck-designs-2.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}
/* line 190, ../sass/chuck-designs-2.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 200;
  /*&:visited{
  	border-bottom: solid $red-color .3em;
  }*/
}
/* line 200, ../sass/chuck-designs-2.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  border-bottom: solid #82cec4 0.3em;
}

/* line 208, ../sass/chuck-designs-2.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* START STYLING SECTION HOME AND HOME-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 218, ../sass/chuck-designs-2.scss */
section.home-container {
  background-image: url(../imgs/bgrd.jpeg);
  background-position: center center;
  background-size: cover;
  height: 96.2em;
  clear: both;
  width: 100%;
}

/* line 227, ../sass/chuck-designs-2.scss */
div#home {
  width: 100%;
  padding-top: 10%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}

/* line 235, ../sass/chuck-designs-2.scss */
div.home-contents {
  height: 74.8em;
  width: 100%;
  max-width: 103em;
  margin: 0 auto;
  margin-top: 2em;
}
/* line 242, ../sass/chuck-designs-2.scss */
div.home-contents h1 {
  width: 100%;
  max-width: 22em;
  color: #ffffff;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  font-weight: 200;
  line-height: 1.5em;
}
/* line 253, ../sass/chuck-designs-2.scss */
div.home-contents img {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80em;
  max-width: 80%;
}
/* line 262, ../sass/chuck-designs-2.scss */
div.home-contents a {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  position: relative;
  top: 17%;
  margin: 0 auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 275, ../sass/chuck-designs-2.scss */
div.home-contents a:hover, div.home-contents a:focus {
  background-image: url(../imgs/dwn-btn.png);
}

/* END SECTION HOME AND HOME-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PORTFOLIO AND PORTFOLIO-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 288, ../sass/chuck-designs-2.scss */
section.portfolio-container {
  width: 100%;
  height: 120em;
  background-color: #ffffff;
}

/* line 294, ../sass/chuck-designs-2.scss */
div#portfolio {
  width: 120em;
  max-width: 100%;
  height: 101em;
  margin: 0 auto;
  clear: both;
  padding-top: 7%;
  box-sizing: border-box;
  margin-bottom: 3%;
}
/* line 308, ../sass/chuck-designs-2.scss */
div#portfolio > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 321, ../sass/chuck-designs-2.scss */
div.left-holder, div.right-holder {
  height: 70em;
  max-width: 100%;
  width: 60em;
  float: left;
}

/* line 328, ../sass/chuck-designs-2.scss */
div.left-top {
  height: 43.5em;
  width: 100%;
  overflow: hidden;
}
/* line 333, ../sass/chuck-designs-2.scss */
div.left-top a {
  text-decoration: none;
}
/* line 336, ../sass/chuck-designs-2.scss */
div.left-top a > p {
  font-size: medium;
  width: 6em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 25em;
  background-color: #82cec4;
}
/* line 349, ../sass/chuck-designs-2.scss */
div.left-top a img {
  width: 103%;
  position: relative;
  bottom: 5em;
}

/* line 358, ../sass/chuck-designs-2.scss */
div.right-top {
  height: 29em;
  width: 100%;
  overflow: hidden;
}
/* line 363, ../sass/chuck-designs-2.scss */
div.right-top a {
  text-decoration: none;
}
/* line 366, ../sass/chuck-designs-2.scss */
div.right-top a img {
  width: 102%;
  position: relative;
  bottom: 17.5em;
}
/* line 372, ../sass/chuck-designs-2.scss */
div.right-top a > p {
  font-size: medium;
  width: 8.1em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  top: 16em;
  background-color: #82cec4;
}

/* line 388, ../sass/chuck-designs-2.scss */
div.left-bottom-one {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}
/* line 394, ../sass/chuck-designs-2.scss */
div.left-bottom-one a {
  text-decoration: none;
}
/* line 397, ../sass/chuck-designs-2.scss */
div.left-bottom-one a img {
  width: 107%;
  position: relative;
  right: 2em;
  bottom: 4.5em;
}
/* line 404, ../sass/chuck-designs-2.scss */
div.left-bottom-one a > p {
  font-size: medium;
  width: 10em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 3;
  top: 13.8em;
  background-color: #82cec4;
}

/* line 419, ../sass/chuck-designs-2.scss */
div.left-bottom-two {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}
/* line 425, ../sass/chuck-designs-2.scss */
div.left-bottom-two a {
  text-decoration: none;
}
/* line 428, ../sass/chuck-designs-2.scss */
div.left-bottom-two a img {
  width: 107%;
  position: relative;
  right: 2em;
  bottom: 5.5em;
}
/* line 435, ../sass/chuck-designs-2.scss */
div.left-bottom-two a > p {
  font-size: medium;
  max-width: 100%;
  width: 8em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 3;
  top: 13.8em;
  background-color: #82cec4;
}

/* line 451, ../sass/chuck-designs-2.scss */
div.right-bottom {
  height: 40em;
  width: 100%;
  float: left;
  overflow: hidden;
}
/* line 457, ../sass/chuck-designs-2.scss */
div.right-bottom a {
  text-decoration: none;
}
/* line 460, ../sass/chuck-designs-2.scss */
div.right-bottom a img {
  width: 130%;
  position: relative;
  right: 10.5em;
  bottom: 12em;
}
/* line 467, ../sass/chuck-designs-2.scss */
div.right-bottom a > p {
  font-size: medium;
  width: 9em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 4;
  top: 22.9em;
  background-color: #82cec4;
}

/* line 482, ../sass/chuck-designs-2.scss */
div.port {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  clear: both;
  max-width: 31em;
}
/* line 489, ../sass/chuck-designs-2.scss */
div.port a {
  text-decoration: none;
  padding: 1em;
  font-size: 2em;
  font-weight: 600;
  color: #f98348;
  background-color: #ffffff;
  border: solid #f98348 0.125em;
  box-sizing: border-box;
  display: block;
}
/* line 500, ../sass/chuck-designs-2.scss */
div.port a:hover, div.port a:focus {
  color: #ffffff;
  background-color: #f98348;
}

/* END STYLING SECTION PORTFOLIO AND PORTFOLIO-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PROCESS AND PROCESS-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 515, ../sass/chuck-designs-2.scss */
section.process-container {
  width: 100%;
  height: 70em;
  background-color: #fafafa;
}

/* line 522, ../sass/chuck-designs-2.scss */
div#process {
  width: 100%;
  height: 70em;
  padding-top: 15em;
  margin: 0 auto;
  clear: both;
  box-sizing: border-box;
}

/* line 536, ../sass/chuck-designs-2.scss */
div.icon-holder {
  height: 35em;
  width: 67%;
  margin: 0 auto;
}

/* line 542, ../sass/chuck-designs-2.scss */
div.icon {
  float: left;
  width: auto;
  margin: 2.3%;
}
/* line 547, ../sass/chuck-designs-2.scss */
div.icon img {
  width: 15em;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/* line 554, ../sass/chuck-designs-2.scss */
div.icon p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #414042;
  text-align: center;
  width: 13em;
  margin-top: 1em;
}
/* line 563, ../sass/chuck-designs-2.scss */
div.icon p span {
  font-size: 0.8em;
  font-weight: 200;
}

/* END STYLING SECTION PROCESS AND PROCESS-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PHIL AND PHIL-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 575, ../sass/chuck-designs-2.scss */
div.phil-bg {
  height: 150em;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/phil-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 590, ../sass/chuck-designs-2.scss */
section.phil-container {
  width: 100%;
  height: 50em;
}

/* line 595, ../sass/chuck-designs-2.scss */
div#phil {
  height: 50em;
  padding-top: 15em;
  padding-bottom: 15em;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
/* line 603, ../sass/chuck-designs-2.scss */
div#phil h2 {
  color: #ffffff;
}
/* line 608, ../sass/chuck-designs-2.scss */
div#phil p {
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.5em;
  color: #ffffff;
  width: 36em;
  margin: 0 auto;
  text-align: center;
}

/* END STYLING SECTION PHIL AND PHIL-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING EXPERTISE AND EXPERTISE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 626, ../sass/chuck-designs-2.scss */
section.expertise-container {
  width: 100%;
  height: 96em;
  background-color: #82cec4;
}

/* line 633, ../sass/chuck-designs-2.scss */
div#expertise {
  height: 96em;
  padding-top: 15em;
  margin: 0 auto;
  max-width: 195em;
}
/* line 640, ../sass/chuck-designs-2.scss */
div#expertise h2 {
  color: #ffffff;
  margin-bottom: 5%;
}

/* line 648, ../sass/chuck-designs-2.scss */
div.grouped {
  height: 45em;
  width: 65%;
  margin: 0 auto;
}

/* line 654, ../sass/chuck-designs-2.scss */
div.left-group-top, div.left-group-bottom, div.right-group-top, div.right-group-bottom {
  height: 25em;
  float: left;
  width: 50%;
}

/* line 660, ../sass/chuck-designs-2.scss */
div.ex-icon {
  margin: 0 auto;
  height: 15em;
}
/* line 664, ../sass/chuck-designs-2.scss */
div.ex-icon img {
  width: 15em;
  float: left;
  display: block;
  margin-right: 5%;
}
/* line 671, ../sass/chuck-designs-2.scss */
div.ex-icon p {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  width: 19em;
  margin-top: 1em;
  float: left;
}
/* line 680, ../sass/chuck-designs-2.scss */
div.ex-icon p span {
  font-size: 0.8em;
  font-weight: 200;
}

/* END STYLING EXPERTISE AND EXPERTISE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING END AND END-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 692, ../sass/chuck-designs-2.scss */
section.end-container {
  width: 100%;
  background-image: url(../imgs/phil.jpg);
  background-position: center cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 81.5em;
}

/* line 701, ../sass/chuck-designs-2.scss */
div#end {
  height: 81.5em;
  padding-top: 20em;
  padding-bottom: 15em;
  max-width: 192em;
}
/* line 708, ../sass/chuck-designs-2.scss */
div#end h2 {
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 1%;
}
/* line 715, ../sass/chuck-designs-2.scss */
div#end p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #ffffff;
  width: 22em;
  margin: 0 auto;
  text-align: center;
}
/* line 724, ../sass/chuck-designs-2.scss */
div#end p a {
  text-decoration: none;
  color: #f98348;
  font-size: 1em;
  font-weight: bold;
}
/* line 730, ../sass/chuck-designs-2.scss */
div#end p a:hover, div#end p a:focus {
  color: #82cec4;
}
/* line 736, ../sass/chuck-designs-2.scss */
div#end img {
  width: 8%;
  margin: 0 auto;
  display: block;
  margin-bottom: 3em;
}

/* line 745, ../sass/chuck-designs-2.scss */
div.social-icons {
  height: 5.3em;
  width: 13.6%;
  margin: 0 auto;
}

/* line 751, ../sass/chuck-designs-2.scss */
div.linked {
  background: url(../imgs/linkedin.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 759, ../sass/chuck-designs-2.scss */
div.linked:hover, div.linked:focus {
  background-image: url(../imgs/linkedin-orange.png);
}

/* line 764, ../sass/chuck-designs-2.scss */
div.pin {
  background: url(../imgs/pinterest.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 772, ../sass/chuck-designs-2.scss */
div.pin:hover, div.pin:focus {
  background-image: url(../imgs/pinterest-orange.png);
}

/* line 777, ../sass/chuck-designs-2.scss */
div.google-plus {
  background: url(../imgs/google-plus.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 785, ../sass/chuck-designs-2.scss */
div.google-plus:hover, div.google-plus:focus {
  background-image: url(../imgs/google-plus-orange.png);
}

/* line 790, ../sass/chuck-designs-2.scss */
div.vim {
  background: url(../imgs/vimeo.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 798, ../sass/chuck-designs-2.scss */
div.vim:hover, div.vim:focus {
  background-image: url(../imgs/vimeo-orange.png);
}

/* line 803, ../sass/chuck-designs-2.scss */
div.behan {
  background: url(../imgs/behance.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 811, ../sass/chuck-designs-2.scss */
div.behan:hover, div.behan:focus {
  background-image: url(../imgs/behance-orange.png);
}

/* END STYLING END AND END-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* END STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/* START STYLING PROJECTS PAGE
-----------------------------------------------------------------------------*/
/* START PROJECTS-HOME AND PROJECT-HOME-CONTAINER SECTION
-----------------------------------------------------------------------------*/
/* line 833, ../sass/chuck-designs-2.scss */
div.project-bg {
  height: 150em;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/portfolio-img.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 848, ../sass/chuck-designs-2.scss */
section.project-home-container {
  width: 100%;
  height: 50em;
}

/* line 853, ../sass/chuck-designs-2.scss */
div#project-home {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 860, ../sass/chuck-designs-2.scss */
div#project-home h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}
/* line 873, ../sass/chuck-designs-2.scss */
div#project-home h2 {
  width: 100%;
  color: #ffffff;
  font-size: 3.5em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  z-index: -1;
  font-family: 'Kaushan Script', cursive;
}
/* line 886, ../sass/chuck-designs-2.scss */
div#project-home img {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80em;
  max-width: 100%;
  position: fixed;
  z-index: -1;
  left: 30%;
  border: solid 1px red;
}
/* line 899, ../sass/chuck-designs-2.scss */
div#project-home a {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  position: relative;
  top: 17%;
  margin: 0 auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 912, ../sass/chuck-designs-2.scss */
div#project-home a:hover, div#project-home a:focus {
  background-image: url(../imgs/dwn-btn.png);
}

/* END PROJECTS-HOME AND PROJECT-HOME-CONTAINER SECTION
-----------------------------------------------------------------------------*/
/* START SECTION PROJECTS AND PROJECT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 925, ../sass/chuck-designs-2.scss */
section.project-container {
  width: 100%;
  height: 92em;
  background-color: #ffffff;
}

/* line 932, ../sass/chuck-designs-2.scss */
div#projects {
  height: 92em;
  padding-top: 15em;
  max-width: 192em;
}

/* line 944, ../sass/chuck-designs-2.scss */
div.port-item {
  width: 100%;
  max-width: 47.88em;
  height: 34em;
  float: right;
  overflow: hidden;
}
/* line 952, ../sass/chuck-designs-2.scss */
div.port-item a > img {
  width: 100%;
  max-width: 48.5em;
}

/* line 962, ../sass/chuck-designs-2.scss */
div#nipost a > img {
  width: 100%;
  max-width: 48.5em;
}

/* END SECTION PROJECTS AND PROJECT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* END STYLING PROJECTS
-----------------------------------------------------------------------------*/
/* START STYLING ABOUT PAGE
-----------------------------------------------------------------------------*/
/* START ABOUT CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 982, ../sass/chuck-designs-2.scss */
section.about-container {
  width: 100%;
  height: 90em;
}

/* line 987, ../sass/chuck-designs-2.scss */
div#about {
  height: 90em;
  padding-top: 12%;
}
/* line 993, ../sass/chuck-designs-2.scss */
div#about h2 {
  color: #414042;
}
/* line 998, ../sass/chuck-designs-2.scss */
div#about p {
  font-size: 2.5em;
  line-height: 1.6em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 38em;
  float: left;
  margin-top: 5%;
}
/* line 1009, ../sass/chuck-designs-2.scss */
div#about p a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  color: #414042;
  font-weight: bold;
}
/* line 1016, ../sass/chuck-designs-2.scss */
div#about p a:hover, div#about p a:focus {
  color: gray;
}

/* line 1023, ../sass/chuck-designs-2.scss */
div.img-holder {
  width: auto;
  display: block;
  float: right;
}
/* line 1028, ../sass/chuck-designs-2.scss */
div.img-holder > img {
  width: 100%;
  max-width: 35em;
  margin-bottom: 5%;
}

/* line 1037, ../sass/chuck-designs-2.scss */
div.social {
  width: 100%;
  max-width: 4em;
  height: 4em;
  margin: 0 auto;
}

/* line 1044, ../sass/chuck-designs-2.scss */
a.social-one {
  background-image: url(../imgs/in.png);
  background-size: 4em;
}
/* line 1049, ../sass/chuck-designs-2.scss */
a.social-one:hover, a.social-one:focus {
  background-image: url(../imgs/in-white.png);
}

/* END SECTION ABOUT AND ABOUT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION RESUME AND RESUME-FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 1062, ../sass/chuck-designs-2.scss */
section#resume-fourth-container {
  width: 100%;
  clear: both;
  height: 233em;
}

/* line 1068, ../sass/chuck-designs-2.scss */
div#resume {
  max-width: 112.5em;
  padding-top: 10%;
  height: 233em;
}

/* line 1075, ../sass/chuck-designs-2.scss */
div.dwn-pdf {
  margin-bottom: 4em;
}
/* line 1079, ../sass/chuck-designs-2.scss */
div.dwn-pdf a {
  text-decoration: none;
  padding: 1.9em 0 0 1.5em;
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  background-color: #82cec4;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  background-image: url(../imgs/pdf-btn-white.png);
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 13em 1.1em;
  height: 5em;
}
/* line 1096, ../sass/chuck-designs-2.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus {
  background-image: url(../imgs/pdf-btn-red.png);
}

/* line 1104, ../sass/chuck-designs-2.scss */
div.skill-info {
  height: 153em;
  background-color: #efefef;
  padding: 6em 3.5em 0 3.5em;
}
/* line 1110, ../sass/chuck-designs-2.scss */
div.skill-info h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 3em;
  text-align: center;
}
/* line 1117, ../sass/chuck-designs-2.scss */
div.skill-info h4 {
  font-size: 2em;
}
/* line 1121, ../sass/chuck-designs-2.scss */
div.skill-info hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  border: solid 0.2em #f0555a;
  width: 5.5em;
}
/* line 1130, ../sass/chuck-designs-2.scss */
div.skill-info ul {
  margin-bottom: 4em;
}

/* line 1140, ../sass/chuck-designs-2.scss */
div.resume-info {
  float: right;
  max-width: 76em;
  width: 100%;
}

/* line 1146, ../sass/chuck-designs-2.scss */
div.education {
  color: #414042;
  background-color: #efefef;
  padding: 5%;
  margin-bottom: 5%;
  width: 100%;
  max-width: 69em;
}
/* line 1154, ../sass/chuck-designs-2.scss */
div.education h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 1em;
}
/* line 1160, ../sass/chuck-designs-2.scss */
div.education h4 {
  font-size: 2em;
  margin-bottom: .5em;
}
/* line 1164, ../sass/chuck-designs-2.scss */
div.education h4 span {
  font-weight: 300;
}
/* line 1169, ../sass/chuck-designs-2.scss */
div.education p {
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 2em;
}
/* line 1175, ../sass/chuck-designs-2.scss */
div.education ul {
  margin-bottom: 2em;
}

/* END SECTION RESUME AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 1192, ../sass/chuck-designs-2.scss */
section#contact-container {
  width: 100%;
  /*background-color: $alt-gray-color;*/
  background-image: url(../imgs/contact-us-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 1201, ../sass/chuck-designs-2.scss */
div#contact-me {
  height: 90em;
  padding-top: 10%;
}
/* line 1206, ../sass/chuck-designs-2.scss */
div#contact-me h2 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 3em;
  margin: 2% 0 2% 0;
}

/* line 1218, ../sass/chuck-designs-2.scss */
form#get-in-touch {
  margin: 0 auto;
  width: 100%;
  max-width: 85em;
}

/* line 1224, ../sass/chuck-designs-2.scss */
input, textarea {
  margin-bottom: 1.5em;
  display: block;
  width: 100%;
  max-width: 61em;
  height: 100%;
  padding: 1.5em;
  font-size: 1.4em;
  line-height: 1.42857143;
  color: gray;
  border: solid 1px #414042;
  border-radius: .5em;
  box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  box-sizing: border-box;
}

/* line 1241, ../sass/chuck-designs-2.scss */
button {
  padding: 1em 1em;
  border: #f0555a;
  border-radius: .3em;
  font-size: 3em;
  font-weight: 600;
  color: #ffffff;
  background-color: #f0555a;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

/* END SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START FOOTER STYLE
-----------------------------------------------------------------------------*/
/* line 1264, ../sass/chuck-designs-2.scss */
footer.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  box-sizing: border-box;
  background-color: #82cec4;
}
/* line 1270, ../sass/chuck-designs-2.scss */
footer.main-footer p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #ffffff;
}

/*END FOOTER STYLE
-----------------------------------------------------------------------------*/
/* START NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* line 1284, ../sass/chuck-designs-2.scss */
section.nipost-first-container {
  height: auto;
  padding-top: 7%;
}
/* line 1289, ../sass/chuck-designs-2.scss */
section.nipost-first-container h2 {
  margin-bottom: 0.5em;
}
/* line 1294, ../sass/chuck-designs-2.scss */
section.nipost-first-container > img {
  width: 100%;
  max-width: 100em;
  display: block;
  margin: 0 auto;
  margin-bottom: 10em;
}
/* line 1302, ../sass/chuck-designs-2.scss */
section.nipost-first-container > p {
  font-size: 1.9em;
  line-height: 1.4em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 45em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 1314, ../sass/chuck-designs-2.scss */
section.nipost-first-container h3 {
  margin-bottom: 1em;
}

/* line 1320, ../sass/chuck-designs-2.scss */
div.first-sketches {
  margin-bottom: 3em;
}
/* line 1323, ../sass/chuck-designs-2.scss */
div.first-sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}
/* line 1331, ../sass/chuck-designs-2.scss */
div.first-sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
}
/* line 1338, ../sass/chuck-designs-2.scss */
div.first-sketches iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100em;
  border: solid 1px #414042;
  margin-bottom: 10em;
  height: 593px;
}

/* line 1353, ../sass/chuck-designs-2.scss */
div.second-sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-top: 1em;
}
/* line 1361, ../sass/chuck-designs-2.scss */
div.second-sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  margin-top: 3em;
}

/* line 1371, ../sass/chuck-designs-2.scss */
div.sketches {
  margin-bottom: 3em;
}
/* line 1374, ../sass/chuck-designs-2.scss */
div.sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}
/* line 1382, ../sass/chuck-designs-2.scss */
div.sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  margin-bottom: 10em;
}

/* END NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* START MEDIA QUERIES
-----------------------------------------------------------------------------*/
/* =Cell Phone Media Query Portrait
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 740px) and (orientation: portrait) {
  /* line 1410, ../sass/chuck-designs-2.scss */
  section#home {
    width: 100%;
  }

  /* line 1414, ../sass/chuck-designs-2.scss */
  header.main-header {
    width: 100%;
    height: 17em;
  }
  /* line 1418, ../sass/chuck-designs-2.scss */
  header.main-header img {
    margin: 0 auto !important;
    display: block;
    width: 20em;
    float: none;
  }

  /* line 1426, ../sass/chuck-designs-2.scss */
  nav.main-nav {
    float: none;
    padding: 0 2em 0 2em;
  }
  /* line 1430, ../sass/chuck-designs-2.scss */
  nav.main-nav ul {
    margin: 0 auto;
    width: 100%;
    max-width: 30em;
  }

  /* line 1437, ../sass/chuck-designs-2.scss */
  div#projects {
    margin: 0 auto;
    border: solid 1px red;
    height: 76em;
    clear: both;
    width: 100%;
    padding: 10% 2% 0% 2%;
    box-sizing: border-box;
  }
  /* line 1446, ../sass/chuck-designs-2.scss */
  div#projects h2 {
    text-align: center;
    margin-bottom: 2%;
    color: gray;
    font-size: 3em;
    margin: 2% 0 2% 0;
  }

  /* line 1456, ../sass/chuck-designs-2.scss */
  div.port-item {
    width: 48.4%;
    margin-right: 2%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 1466, ../sass/chuck-designs-2.scss */
  div.port-item-last {
    margin-right: 0% !important;
    border: solid 1px red;
    width: 48.4%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 1475, ../sass/chuck-designs-2.scss */
  div#margin-out {
    margin-right: 0;
  }

  /* line 1479, ../sass/chuck-designs-2.scss */
  div#margin-outter {
    margin-right: 0;
  }
}
/* =iPad Media Query
-----------------------------------------------------------------------------*/
/* =Media Query for Laptops
-----------------------------------------------------------------------------*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* START STYLING LAPTOP SIZE INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START STYLING LAPTOP SIZE SECTION HOME AND HOME-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1528, ../sass/chuck-designs-2.scss */
  section.home-container {
    width: 100%;
    background-image: url(../imgs/bg.jpg);
    background-position: center center;
    background-size: cover;
    height: 96em;
    clear: both;
    width: 100%;
    height: 68em;
  }

  /* line 1539, ../sass/chuck-designs-2.scss */
  div#home {
    max-width: 135em;
    padding-top: 1em;
    height: 68em;
  }

  /* line 1546, ../sass/chuck-designs-2.scss */
  div.home-contents {
    height: 64.5em;
    width: 100%;
    max-width: 103em;
    margin: 0 auto;
    margin-top: 3%;
  }
  /* line 1553, ../sass/chuck-designs-2.scss */
  div.home-contents h1 {
    width: 100%;
    max-width: 22em;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
    font-weight: 200;
    line-height: 1.5em;
  }
  /* line 1565, ../sass/chuck-designs-2.scss */
  div.home-contents img {
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    max-width: 70em;
  }
  /* line 1575, ../sass/chuck-designs-2.scss */
  div.home-contents a {
    max-width: 4em;
    height: 4em;
    max-height: 100%;
    width: 100%;
    display: block;
    position: relative;
    top: 5%;
    margin: 0 auto;
    background-image: url(../imgs/dwn-btn-white.png);
    background-size: 4em;
    background-repeat: no-repeat;
  }
  /* line 1588, ../sass/chuck-designs-2.scss */
  div.home-contents a:hover, div.home-contents a:focus {
    background-image: url(../imgs/dwn-btn.png);
  }

  /* END LAPTOP SIZE SECTION HOME AND HOME-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SIZE SECTION PROJECTS AND PROJECT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1603, ../sass/chuck-designs-2.scss */
  section.project-container {
    width: 100%;
    height: 53em;
    margin-bottom: 0;
  }

  /* line 1611, ../sass/chuck-designs-2.scss */
  div#projects {
    height: 53em;
    margin-top: 20em;
  }

  /* line 1622, ../sass/chuck-designs-2.scss */
  div.port-item {
    width: 100%;
    max-width: 31.99em;
    height: 23.8em;
    float: right;
    overflow: hidden;
  }
  /* line 1630, ../sass/chuck-designs-2.scss */
  div.port-item a img {
    width: 100%;
    max-width: 34em;
  }

  /* line 1642, ../sass/chuck-designs-2.scss */
  div#nipost a img {
    width: 100%;
    max-width: 34em;
  }

  /* END LAPTOP SIZE SECTION PROJECTS AND SECOND-INDEX-PAGE-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* END LAPTOP SIZE STYLING INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SECTION RESUME AND FOURTH-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1659, ../sass/chuck-designs-2.scss */
  section#resume-fourth-container {
    width: 100%;
    height: 226em;
    clear: both;
  }

  /* line 1665, ../sass/chuck-designs-2.scss */
  div#resume {
    max-width: 112.5em;
    padding-top: 10%;
    height: 226em;
  }

  /* line 1673, ../sass/chuck-designs-2.scss */
  div.dwn-pdf {
    margin-bottom: 4em;
  }
  /* line 1677, ../sass/chuck-designs-2.scss */
  div.dwn-pdf a {
    text-decoration: none;
    padding: 1.9em 0 0 1.5em;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    background-color: #f0555a;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    background-image: url(../imgs/pdf-btn-white.png);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 13em 1.1em;
    height: 5em;
  }
  /* line 1694, ../sass/chuck-designs-2.scss */
  div.dwn-pdf a:hover, div.dwn-pdf a:focus {
    background-image: url(../imgs/pdf-btn-red.png);
  }

  /* line 1702, ../sass/chuck-designs-2.scss */
  div.skill-info {
    height: 153em;
    background-color: #efefef;
    padding: 6em 3.5em 0 3.5em;
  }
  /* line 1708, ../sass/chuck-designs-2.scss */
  div.skill-info h3 {
    font-size: 2.5em;
    color: #f0555a;
    margin-bottom: 3em;
    text-align: center;
  }
  /* line 1715, ../sass/chuck-designs-2.scss */
  div.skill-info h4 {
    font-size: 2em;
  }
  /* line 1719, ../sass/chuck-designs-2.scss */
  div.skill-info hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    border: solid 0.2em #f0555a;
    width: 5.5em;
  }
  /* line 1728, ../sass/chuck-designs-2.scss */
  div.skill-info ul {
    margin-bottom: 4em;
  }

  /* line 1738, ../sass/chuck-designs-2.scss */
  div.resume-info {
    float: right;
    max-width: 76em;
    width: 100%;
  }

  /* line 1744, ../sass/chuck-designs-2.scss */
  div.education {
    color: #414042;
    background-color: #efefef;
    padding: 5%;
    margin-bottom: 5%;
    width: 100%;
    max-width: 69em;
  }
  /* line 1752, ../sass/chuck-designs-2.scss */
  div.education h3 {
    font-size: 2.5em;
    color: #f0555a;
    margin-bottom: 1em;
  }
  /* line 1758, ../sass/chuck-designs-2.scss */
  div.education h4 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  /* line 1762, ../sass/chuck-designs-2.scss */
  div.education h4 span {
    font-weight: 300;
  }
  /* line 1767, ../sass/chuck-designs-2.scss */
  div.education p {
    font-size: 1.7em;
    line-height: 1.5em;
    margin-bottom: 2em;
  }
  /* line 1773, ../sass/chuck-designs-2.scss */
  div.education ul {
    margin-bottom: 2em;
  }

  /* END LAPTOP SECTION RESUME AND FOURTH-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP ABOUT CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1789, ../sass/chuck-designs-2.scss */
  section.about-container {
    width: 100%;
    height: 62em;
  }

  /* line 1794, ../sass/chuck-designs-2.scss */
  div#about {
    height: 61em;
    padding-top: 10%;
    max-width: 110em;
  }
  /* line 1801, ../sass/chuck-designs-2.scss */
  div#about h2 {
    color: #414042;
  }
  /* line 1806, ../sass/chuck-designs-2.scss */
  div#about p {
    font-size: 2em;
    line-height: 1.6em;
    color: gray;
    font-weight: 300;
    width: 100%;
    max-width: 37em;
    float: left;
    margin-top: 6%;
  }
  /* line 1816, ../sass/chuck-designs-2.scss */
  div#about p a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    color: #414042;
    font-weight: bold;
  }
  /* line 1823, ../sass/chuck-designs-2.scss */
  div#about p a:hover, div#about p a:focus {
    color: gray;
  }

  /* line 1830, ../sass/chuck-designs-2.scss */
  div.img-holder {
    width: auto;
    display: block;
    float: right;
  }
  /* line 1835, ../sass/chuck-designs-2.scss */
  div.img-holder > img {
    width: 100%;
    max-width: 30em;
    margin-bottom: 5%;
  }

  /* line 1843, ../sass/chuck-designs-2.scss */
  div.social {
    width: 100%;
    max-width: 4em;
    height: 4em;
    margin: 0 auto;
  }

  /* line 1850, ../sass/chuck-designs-2.scss */
  a.social-one {
    background-image: url(../imgs/in.png);
    background-size: 4em;
  }
  /* line 1855, ../sass/chuck-designs-2.scss */
  a.social-one:hover, a.social-one:focus {
    background-image: url(../imgs/in-white.png);
  }

  /* END LAPTOP SECTION ABOUT AND ABOUT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SECTION CONTACT AND CONTACT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1866, ../sass/chuck-designs-2.scss */
  section#contact-container {
    width: 100%;
    /*background-color: $alt-gray-color;*/
    background-image: url(../imgs/contact-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 62em;
  }

  /* line 1876, ../sass/chuck-designs-2.scss */
  div#contact-me {
    height: 62em;
    padding-top: 8.5%;
  }
  /* line 1881, ../sass/chuck-designs-2.scss */
  div#contact-me h2 {
    text-align: center;
    margin-bottom: 2%;
    color: #414042;
    font-size: 2.5em;
    margin: 2% 0 2% 0;
  }

  /* line 1893, ../sass/chuck-designs-2.scss */
  form#get-in-touch {
    margin: 0 auto;
    width: 100%;
    max-width: 65em;
  }

  /* line 1899, ../sass/chuck-designs-2.scss */
  input, textarea {
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    max-width: 61em;
    height: 100%;
    padding: 1em;
    font-size: 1.4em;
    line-height: 1.42857143;
    color: gray;
    border: solid 1px #414042;
    border-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    box-sizing: border-box;
  }

  /* line 1916, ../sass/chuck-designs-2.scss */
  button {
    padding: 0.8em 0.8em;
    border: #f0555a;
    border-radius: .3em;
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    background-color: #f0555a;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
  }

  /* END LAPTOP SECTION CONTACT AND CONTACT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP NIPOST PROJECT STYLES
  -----------------------------------------------------------------------------*/
  /* line 1940, ../sass/chuck-designs-2.scss */
  section.nipost-first-container {
    height: auto;
    padding-top: 10%;
  }
  /* line 1945, ../sass/chuck-designs-2.scss */
  section.nipost-first-container h2 {
    margin-bottom: 0.5em;
  }
  /* line 1950, ../sass/chuck-designs-2.scss */
  section.nipost-first-container > img {
    width: 100%;
    max-width: 80em;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  /* line 1958, ../sass/chuck-designs-2.scss */
  section.nipost-first-container > p {
    font-size: 1.9em;
    line-height: 1.4em;
    color: gray;
    font-weight: 300;
    width: 100%;
    max-width: 45em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  /* line 1970, ../sass/chuck-designs-2.scss */
  section.nipost-first-container h3 {
    margin-bottom: 1em;
  }

  /* line 1976, ../sass/chuck-designs-2.scss */
  div.first-sketches {
    margin-bottom: 3em;
  }
  /* line 1979, ../sass/chuck-designs-2.scss */
  div.first-sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
  }
  /* line 1987, ../sass/chuck-designs-2.scss */
  div.first-sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
  }
  /* line 1994, ../sass/chuck-designs-2.scss */
  div.first-sketches iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 80em;
    border: solid 1px #414042;
    margin-bottom: 10em;
    height: 500px;
  }

  /* line 2006, ../sass/chuck-designs-2.scss */
  div.second-sketches {
    max-height: 250em;
    height: 100%;
  }
  /* line 2010, ../sass/chuck-designs-2.scss */
  div.second-sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-top: 1em;
  }
  /* line 2018, ../sass/chuck-designs-2.scss */
  div.second-sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
  }

  /* line 2028, ../sass/chuck-designs-2.scss */
  div.sketches {
    margin-bottom: 3em;
  }
  /* line 2031, ../sass/chuck-designs-2.scss */
  div.sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
  }
  /* line 2039, ../sass/chuck-designs-2.scss */
  div.sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
  }

  /* END LAPTOP NIPOST PROJECT STYLES
  -----------------------------------------------------------------------------*/
}
