/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://cobadesign.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =Fonts
-----------------------------------------------------------------------------*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 30, ../sass/chuck-designs.scss */
div#home, div#projects, div#about, div#resume, div#contact-me, section.nipost-first-container {
  margin: 0 auto;
  max-width: 135em;
  width: 100%;
  height: 96em;
  clear: both;
  padding-top: 7%;
  box-sizing: border-box;
}

/* line 40, ../sass/chuck-designs.scss */
section.first-index-page-container, section.second-index-page-container, section.about-container, section#resume-fourth-container, section#contact-container {
  width: 100%;
}

/* line 44, ../sass/chuck-designs.scss */
div#projects h2, div#about h2, section.nipost-first-container h2, section.nipost-first-container h3 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 3em;
}

/* line 51, ../sass/chuck-designs.scss */
a.social-one {
  width: 4em;
  height: 4em;
  max-height: 100%;
  max-width: 100%;
  display: block;
  background-size: 6em;
  background-repeat: no-repeat;
  float: left;
  box-sizing: border-box;
}

/* line 64, ../sass/chuck-designs.scss */
div.dwn-pdf, div.skill-info {
  float: left;
  width: 100%;
  max-width: 33em;
  box-sizing: border-box;
  margin-right: 1em;
}

/* line 72, ../sass/chuck-designs.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus, button:hover, button:focus {
  color: #f0555a;
  background-color: #ffffff;
  border: solid #f0555a 0.125em;
}

/* line 78, ../sass/chuck-designs.scss */
div.skill-info ul li, div.education ul li {
  background-image: url(../imgs/bullet.png);
  background-repeat: no-repeat;
  list-style: none;
  background-position: center left;
  background-size: 0.9em;
  font-size: 1.7em;
  line-height: 1.5em;
  padding-left: 1.5em;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 123, ../sass/chuck-designs.scss */
a:link, a:visited, a:hover, a:focus, a:active
html {
  font-size: 10px;
}

/* line 127, ../sass/chuck-designs.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 132, ../sass/chuck-designs.scss */
body {
  font-size: 10px;
  /*font-family: $helvetica;*/
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 141, ../sass/chuck-designs.scss */
#main-container {
  width: 100%;
}

/* line 145, ../sass/chuck-designs.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  padding: 2em 0 2em 0;
}
/* line 153, ../sass/chuck-designs.scss */
header.main-header img {
  float: left;
  max-width: 6em;
  width: 100%;
  padding-left: 2%;
}

/* line 161, ../sass/chuck-designs.scss */
.active-link-style {
  border-bottom: solid #82cec4 0.3em;
}

/* line 165, ../sass/chuck-designs.scss */
nav.main-nav {
  float: right;
  padding-right: 2%;
  position: relative;
  top: 4.5em;
}
/* line 171, ../sass/chuck-designs.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}
/* line 178, ../sass/chuck-designs.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}
/* line 184, ../sass/chuck-designs.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.7em;
  font-weight: bold;
  /*&:visited{
  	border-bottom: solid $red-color .3em;
  }*/
}
/* line 194, ../sass/chuck-designs.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  border-bottom: solid #82cec4 0.3em;
}

/* line 202, ../sass/chuck-designs.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* START STYLING SECTION HOME AND FIRST-INDEX-PAGE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 212, ../sass/chuck-designs.scss */
section.first-index-page-container {
  background-image: url(../imgs/bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 96em;
  clear: both;
  width: 100%;
}

/* line 222, ../sass/chuck-designs.scss */
div#home {
  max-width: 135em;
  padding-top: 7%;
}

/* line 228, ../sass/chuck-designs.scss */
div.letters-holder {
  height: 81em;
  width: 100%;
  max-width: 103em;
  margin: 0 auto;
  margin-top: 1%;
}
/* line 235, ../sass/chuck-designs.scss */
div.letters-holder h1 {
  width: 100%;
  max-width: 22em;
  color: #ffffff;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  font-weight: 200;
  line-height: 1.5em;
}
/* line 248, ../sass/chuck-designs.scss */
div.letters-holder img {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 256, ../sass/chuck-designs.scss */
div.letters-holder a {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  position: relative;
  top: 17%;
  margin: 0 auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 6em;
  background-repeat: no-repeat;
}
/* line 269, ../sass/chuck-designs.scss */
div.letters-holder a:hover, div.letters-holder a:focus {
  background-image: url(../imgs/dwn-btn.png);
}

/* END SECTION HOME AND FIRST-INDEX-PAGE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION PROJECTS AND SECOND-INDEX-PAGE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 284, ../sass/chuck-designs.scss */
section.second-index-page-container {
  height: 56.9em;
  margin-bottom: 18.5em;
}

/* line 291, ../sass/chuck-designs.scss */
div#projects {
  height: 56.9em;
  margin-top: 9em;
  padding-top: 0;
}

/* line 303, ../sass/chuck-designs.scss */
div.port-item {
  width: 100%;
  max-width: 33.5em;
  height: 25em;
  float: right;
  overflow: hidden;
}
/* line 311, ../sass/chuck-designs.scss */
div.port-item a > img {
  width: 100%;
  max-width: 33.5em;
}

/* line 321, ../sass/chuck-designs.scss */
div#nipost a > img {
  width: 100%;
  max-width: 33.5em;
}

/* END SECTION PROJECTS AND SECOND-INDEX-PAGE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* END STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/* START STYLING ABOUT PAGE
-----------------------------------------------------------------------------*/
/* START ABOUT CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 346, ../sass/chuck-designs.scss */
section.about-container {
  height: 90em;
}

/* line 351, ../sass/chuck-designs.scss */
div#about {
  height: 90em;
  padding-top: 12%;
}
/* line 357, ../sass/chuck-designs.scss */
div#about h2 {
  color: #414042;
}
/* line 362, ../sass/chuck-designs.scss */
div#about p {
  font-size: 2.5em;
  line-height: 1.6em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 38em;
  float: left;
  margin-top: 5%;
}
/* line 373, ../sass/chuck-designs.scss */
div#about p a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  color: #414042;
  font-weight: bold;
}
/* line 380, ../sass/chuck-designs.scss */
div#about p a:hover, div#about p a:focus {
  color: gray;
}

/* line 387, ../sass/chuck-designs.scss */
div.img-holder {
  width: auto;
  display: block;
  float: right;
}
/* line 392, ../sass/chuck-designs.scss */
div.img-holder > img {
  width: 100%;
  max-width: 35em;
  margin-bottom: 5%;
}

/* line 401, ../sass/chuck-designs.scss */
div.social {
  width: 100%;
  max-width: 4em;
  height: 4em;
  margin: 0 auto;
}

/* line 408, ../sass/chuck-designs.scss */
a.social-one {
  background-image: url(../imgs/in.png);
  background-size: 4em;
}
/* line 413, ../sass/chuck-designs.scss */
a.social-one:hover, a.social-one:focus {
  background-image: url(../imgs/in-white.png);
}

/* END SECTION ABOUT AND ABOUT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION RESUME AND RESUME-FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 426, ../sass/chuck-designs.scss */
section#resume-fourth-container {
  clear: both;
  height: 233em;
}

/* line 432, ../sass/chuck-designs.scss */
div#resume {
  max-width: 112.5em;
  padding-top: 10%;
  height: 233em;
}

/* line 439, ../sass/chuck-designs.scss */
div.dwn-pdf {
  margin-bottom: 4em;
}
/* line 443, ../sass/chuck-designs.scss */
div.dwn-pdf a {
  text-decoration: none;
  padding: 1.9em 0 0 1.5em;
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  background-color: #f0555a;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  background-image: url(../imgs/pdf-btn-white.png);
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 13em 1.1em;
  height: 5em;
}
/* line 460, ../sass/chuck-designs.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus {
  background-image: url(../imgs/pdf-btn-red.png);
}

/* line 468, ../sass/chuck-designs.scss */
div.skill-info {
  height: 153em;
  background-color: #efefef;
  padding: 6em 3.5em 0 3.5em;
}
/* line 474, ../sass/chuck-designs.scss */
div.skill-info h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 3em;
  text-align: center;
}
/* line 481, ../sass/chuck-designs.scss */
div.skill-info h4 {
  font-size: 2em;
}
/* line 485, ../sass/chuck-designs.scss */
div.skill-info hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  border: solid 0.2em #f0555a;
  width: 5.5em;
}
/* line 494, ../sass/chuck-designs.scss */
div.skill-info ul {
  margin-bottom: 4em;
}

/* line 504, ../sass/chuck-designs.scss */
div.resume-info {
  float: right;
  max-width: 76em;
  width: 100%;
}

/* line 510, ../sass/chuck-designs.scss */
div.education {
  color: #414042;
  background-color: #efefef;
  padding: 5%;
  margin-bottom: 5%;
  width: 100%;
  max-width: 69em;
}
/* line 518, ../sass/chuck-designs.scss */
div.education h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 1em;
}
/* line 524, ../sass/chuck-designs.scss */
div.education h4 {
  font-size: 2em;
  margin-bottom: .5em;
}
/* line 528, ../sass/chuck-designs.scss */
div.education h4 span {
  font-weight: 300;
}
/* line 533, ../sass/chuck-designs.scss */
div.education p {
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 2em;
}
/* line 539, ../sass/chuck-designs.scss */
div.education ul {
  margin-bottom: 2em;
}

/* END SECTION RESUME AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 556, ../sass/chuck-designs.scss */
section#contact-container {
  /*background-color: $alt-gray-color;*/
  background-image: url(../imgs/contact-us-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 565, ../sass/chuck-designs.scss */
div#contact-me {
  height: 90em;
  padding-top: 10%;
}
/* line 570, ../sass/chuck-designs.scss */
div#contact-me h2 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 3em;
  margin: 2% 0 2% 0;
}

/* line 582, ../sass/chuck-designs.scss */
form#get-in-touch {
  margin: 0 auto;
  width: 100%;
  max-width: 85em;
}

/* line 588, ../sass/chuck-designs.scss */
input, textarea {
  margin-bottom: 1.5em;
  display: block;
  width: 100%;
  max-width: 61em;
  height: 100%;
  padding: 1.5em;
  font-size: 1.4em;
  line-height: 1.42857143;
  color: gray;
  border: solid 1px #414042;
  border-radius: .5em;
  box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  box-sizing: border-box;
}

/* line 605, ../sass/chuck-designs.scss */
button {
  padding: 1em 1em;
  border: #f0555a;
  border-radius: .3em;
  font-size: 3em;
  font-weight: 600;
  color: #ffffff;
  background-color: #f0555a;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

/* END SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START FOOTER STYLE
-----------------------------------------------------------------------------*/
/* line 628, ../sass/chuck-designs.scss */
footer.main-footer {
  padding-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid gray;
}
/* line 633, ../sass/chuck-designs.scss */
footer.main-footer p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: #414042;
}

/*END FOOTER STYLE
-----------------------------------------------------------------------------*/
/* START NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* line 647, ../sass/chuck-designs.scss */
section.nipost-first-container {
  height: auto;
  padding-top: 7%;
}
/* line 652, ../sass/chuck-designs.scss */
section.nipost-first-container h2 {
  margin-bottom: 0.5em;
}
/* line 657, ../sass/chuck-designs.scss */
section.nipost-first-container > img {
  width: 100%;
  max-width: 100em;
  display: block;
  margin: 0 auto;
  margin-bottom: 10em;
}
/* line 665, ../sass/chuck-designs.scss */
section.nipost-first-container > p {
  font-size: 1.9em;
  line-height: 1.4em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 45em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 677, ../sass/chuck-designs.scss */
section.nipost-first-container h3 {
  margin-bottom: 1em;
}

/* line 683, ../sass/chuck-designs.scss */
div.first-sketches {
  margin-bottom: 3em;
}
/* line 686, ../sass/chuck-designs.scss */
div.first-sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}
/* line 694, ../sass/chuck-designs.scss */
div.first-sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
}
/* line 701, ../sass/chuck-designs.scss */
div.first-sketches iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100em;
  border: solid 1px #414042;
  margin-bottom: 10em;
  height: 593px;
}

/* line 716, ../sass/chuck-designs.scss */
div.second-sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-top: 1em;
}
/* line 724, ../sass/chuck-designs.scss */
div.second-sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  margin-top: 3em;
}

/* line 734, ../sass/chuck-designs.scss */
div.sketches {
  margin-bottom: 3em;
}
/* line 737, ../sass/chuck-designs.scss */
div.sketches > p {
  font-size: 2.5em;
  color: gray;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1em;
}
/* line 745, ../sass/chuck-designs.scss */
div.sketches > img {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  display: block;
  margin-bottom: 10em;
}

/* END NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* START MEDIA QUERIES
-----------------------------------------------------------------------------*/
/* =Cell Phone Media Query Portrait
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 740px) and (orientation: portrait) {
  /* line 773, ../sass/chuck-designs.scss */
  section#home {
    width: 100%;
  }

  /* line 777, ../sass/chuck-designs.scss */
  header.main-header {
    width: 100%;
    height: 17em;
  }
  /* line 781, ../sass/chuck-designs.scss */
  header.main-header img {
    margin: 0 auto !important;
    display: block;
    width: 20em;
    float: none;
  }

  /* line 789, ../sass/chuck-designs.scss */
  nav.main-nav {
    float: none;
    padding: 0 2em 0 2em;
  }
  /* line 793, ../sass/chuck-designs.scss */
  nav.main-nav ul {
    margin: 0 auto;
    width: 100%;
    max-width: 30em;
  }

  /* line 800, ../sass/chuck-designs.scss */
  div#projects {
    margin: 0 auto;
    border: solid 1px pink;
    height: 76em;
    clear: both;
    width: 100%;
    padding: 10% 2% 0% 2%;
    box-sizing: border-box;
  }
  /* line 809, ../sass/chuck-designs.scss */
  div#projects h2 {
    text-align: center;
    margin-bottom: 2%;
    color: gray;
    font-size: 3em;
    margin: 2% 0 2% 0;
  }

  /* line 819, ../sass/chuck-designs.scss */
  div.port-item {
    width: 48.4%;
    margin-right: 2%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 829, ../sass/chuck-designs.scss */
  div.port-item-last {
    margin-right: 0% !important;
    border: solid 1px red;
    width: 48.4%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 838, ../sass/chuck-designs.scss */
  div#margin-out {
    margin-right: 0;
  }

  /* line 842, ../sass/chuck-designs.scss */
  div#margin-outter {
    margin-right: 0;
  }
}
/* =iPad Media Query
-----------------------------------------------------------------------------*/
/* =Media Query for Laptops
-----------------------------------------------------------------------------*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* START STYLING LAPTOP SIZE INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START STYLING LAPTOP SIZE SECTION HOME AND FIRST-INDEX-PAGE-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 891, ../sass/chuck-designs.scss */
  section.first-index-page-container {
    background-image: url(../imgs/bg.jpg);
    background-position: center center;
    background-size: cover;
    height: 96em;
    clear: both;
    width: 100%;
    height: 68em;
  }

  /* line 902, ../sass/chuck-designs.scss */
  div#home {
    max-width: 135em;
    padding-top: 1em;
    height: 68em;
  }

  /* line 909, ../sass/chuck-designs.scss */
  div.letters-holder {
    height: 64.5em;
    width: 100%;
    max-width: 103em;
    margin: 0 auto;
    margin-top: 3%;
  }
  /* line 916, ../sass/chuck-designs.scss */
  div.letters-holder h1 {
    width: 100%;
    max-width: 22em;
    color: #ffffff;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto;
    font-weight: 200;
    line-height: 1.5em;
  }
  /* line 928, ../sass/chuck-designs.scss */
  div.letters-holder img {
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    max-width: 70em;
  }
  /* line 938, ../sass/chuck-designs.scss */
  div.letters-holder a {
    max-width: 4em;
    height: 4em;
    max-height: 100%;
    width: 100%;
    display: block;
    position: relative;
    top: 5%;
    margin: 0 auto;
    background-image: url(../imgs/dwn-btn-white.png);
    background-size: 4em;
    background-repeat: no-repeat;
  }
  /* line 951, ../sass/chuck-designs.scss */
  div.letters-holder a:hover, div.letters-holder a:focus {
    background-image: url(../imgs/dwn-btn.png);
  }

  /* END LAPTOP SIZE SECTION HOME AND FIRST-INDEX-PAGE-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SIZE SECTION PROJECTS AND SECOND-INDEX-PAGE-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 966, ../sass/chuck-designs.scss */
  section.second-index-page-container {
    height: 53em;
    margin-bottom: 0;
  }

  /* line 974, ../sass/chuck-designs.scss */
  div#projects {
    height: 53em;
    margin-top: 20em;
  }

  /* line 985, ../sass/chuck-designs.scss */
  div.port-item {
    width: 100%;
    max-width: 31.99em;
    height: 23.8em;
    float: right;
    overflow: hidden;
  }
  /* line 993, ../sass/chuck-designs.scss */
  div.port-item a img {
    width: 100%;
    max-width: 34em;
  }

  /* line 1005, ../sass/chuck-designs.scss */
  div#nipost a img {
    width: 100%;
    max-width: 34em;
  }

  /* END LAPTOP SIZE SECTION PROJECTS AND SECOND-INDEX-PAGE-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* END LAPTOP SIZE STYLING INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SECTION RESUME AND FOURTH-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1022, ../sass/chuck-designs.scss */
  section#resume-fourth-container {
    height: 226em;
    clear: both;
  }

  /* line 1028, ../sass/chuck-designs.scss */
  div#resume {
    max-width: 112.5em;
    padding-top: 10%;
    height: 226em;
  }

  /* line 1036, ../sass/chuck-designs.scss */
  div.dwn-pdf {
    margin-bottom: 4em;
  }
  /* line 1040, ../sass/chuck-designs.scss */
  div.dwn-pdf a {
    text-decoration: none;
    padding: 1.9em 0 0 1.5em;
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    background-color: #f0555a;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    background-image: url(../imgs/pdf-btn-white.png);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: 13em 1.1em;
    height: 5em;
  }
  /* line 1057, ../sass/chuck-designs.scss */
  div.dwn-pdf a:hover, div.dwn-pdf a:focus {
    background-image: url(../imgs/pdf-btn-red.png);
  }

  /* line 1065, ../sass/chuck-designs.scss */
  div.skill-info {
    height: 153em;
    background-color: #efefef;
    padding: 6em 3.5em 0 3.5em;
  }
  /* line 1071, ../sass/chuck-designs.scss */
  div.skill-info h3 {
    font-size: 2.5em;
    color: #f0555a;
    margin-bottom: 3em;
    text-align: center;
  }
  /* line 1078, ../sass/chuck-designs.scss */
  div.skill-info h4 {
    font-size: 2em;
  }
  /* line 1082, ../sass/chuck-designs.scss */
  div.skill-info hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    border: solid 0.2em #f0555a;
    width: 5.5em;
  }
  /* line 1091, ../sass/chuck-designs.scss */
  div.skill-info ul {
    margin-bottom: 4em;
  }

  /* line 1101, ../sass/chuck-designs.scss */
  div.resume-info {
    float: right;
    max-width: 76em;
    width: 100%;
  }

  /* line 1107, ../sass/chuck-designs.scss */
  div.education {
    color: #414042;
    background-color: #efefef;
    padding: 5%;
    margin-bottom: 5%;
    width: 100%;
    max-width: 69em;
  }
  /* line 1115, ../sass/chuck-designs.scss */
  div.education h3 {
    font-size: 2.5em;
    color: #f0555a;
    margin-bottom: 1em;
  }
  /* line 1121, ../sass/chuck-designs.scss */
  div.education h4 {
    font-size: 2em;
    margin-bottom: .5em;
  }
  /* line 1125, ../sass/chuck-designs.scss */
  div.education h4 span {
    font-weight: 300;
  }
  /* line 1130, ../sass/chuck-designs.scss */
  div.education p {
    font-size: 1.7em;
    line-height: 1.5em;
    margin-bottom: 2em;
  }
  /* line 1136, ../sass/chuck-designs.scss */
  div.education ul {
    margin-bottom: 2em;
  }

  /* END LAPTOP SECTION RESUME AND FOURTH-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP ABOUT CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1152, ../sass/chuck-designs.scss */
  section.about-container {
    height: 62em;
  }

  /* line 1157, ../sass/chuck-designs.scss */
  div#about {
    height: 61em;
    padding-top: 10%;
    max-width: 110em;
  }
  /* line 1164, ../sass/chuck-designs.scss */
  div#about h2 {
    color: #414042;
  }
  /* line 1169, ../sass/chuck-designs.scss */
  div#about p {
    font-size: 2em;
    line-height: 1.6em;
    color: gray;
    font-weight: 300;
    width: 100%;
    max-width: 37em;
    float: left;
    margin-top: 6%;
  }
  /* line 1179, ../sass/chuck-designs.scss */
  div#about p a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    color: #414042;
    font-weight: bold;
  }
  /* line 1186, ../sass/chuck-designs.scss */
  div#about p a:hover, div#about p a:focus {
    color: gray;
  }

  /* line 1193, ../sass/chuck-designs.scss */
  div.img-holder {
    width: auto;
    display: block;
    float: right;
  }
  /* line 1198, ../sass/chuck-designs.scss */
  div.img-holder > img {
    width: 100%;
    max-width: 30em;
    margin-bottom: 5%;
  }

  /* line 1206, ../sass/chuck-designs.scss */
  div.social {
    width: 100%;
    max-width: 4em;
    height: 4em;
    margin: 0 auto;
  }

  /* line 1213, ../sass/chuck-designs.scss */
  a.social-one {
    background-image: url(../imgs/in.png);
    background-size: 4em;
  }
  /* line 1218, ../sass/chuck-designs.scss */
  a.social-one:hover, a.social-one:focus {
    background-image: url(../imgs/in-white.png);
  }

  /* END LAPTOP SECTION ABOUT AND ABOUT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP SECTION CONTACT AND CONTACT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* line 1229, ../sass/chuck-designs.scss */
  section#contact-container {
    /*background-color: $alt-gray-color;*/
    background-image: url(../imgs/contact-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 62em;
  }

  /* line 1239, ../sass/chuck-designs.scss */
  div#contact-me {
    height: 62em;
    padding-top: 8.5%;
  }
  /* line 1244, ../sass/chuck-designs.scss */
  div#contact-me h2 {
    text-align: center;
    margin-bottom: 2%;
    color: #414042;
    font-size: 2.5em;
    margin: 2% 0 2% 0;
  }

  /* line 1256, ../sass/chuck-designs.scss */
  form#get-in-touch {
    margin: 0 auto;
    width: 100%;
    max-width: 65em;
  }

  /* line 1262, ../sass/chuck-designs.scss */
  input, textarea {
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    max-width: 61em;
    height: 100%;
    padding: 1em;
    font-size: 1.4em;
    line-height: 1.42857143;
    color: gray;
    border: solid 1px #414042;
    border-radius: .5em;
    box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
    box-sizing: border-box;
  }

  /* line 1279, ../sass/chuck-designs.scss */
  button {
    padding: 0.8em 0.8em;
    border: #f0555a;
    border-radius: .3em;
    font-size: 2em;
    font-weight: 600;
    color: #ffffff;
    background-color: #f0555a;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
  }

  /* END LAPTOP SECTION CONTACT AND CONTACT-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* START LAPTOP NIPOST PROJECT STYLES
  -----------------------------------------------------------------------------*/
  /* line 1303, ../sass/chuck-designs.scss */
  section.nipost-first-container {
    height: auto;
    padding-top: 10%;
  }
  /* line 1308, ../sass/chuck-designs.scss */
  section.nipost-first-container h2 {
    margin-bottom: 0.5em;
  }
  /* line 1313, ../sass/chuck-designs.scss */
  section.nipost-first-container > img {
    width: 100%;
    max-width: 80em;
    display: block;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  /* line 1321, ../sass/chuck-designs.scss */
  section.nipost-first-container > p {
    font-size: 1.9em;
    line-height: 1.4em;
    color: gray;
    font-weight: 300;
    width: 100%;
    max-width: 45em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  /* line 1333, ../sass/chuck-designs.scss */
  section.nipost-first-container h3 {
    margin-bottom: 1em;
  }

  /* line 1339, ../sass/chuck-designs.scss */
  div.first-sketches {
    margin-bottom: 3em;
  }
  /* line 1342, ../sass/chuck-designs.scss */
  div.first-sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
  }
  /* line 1350, ../sass/chuck-designs.scss */
  div.first-sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
  }
  /* line 1357, ../sass/chuck-designs.scss */
  div.first-sketches iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 80em;
    border: solid 1px #414042;
    margin-bottom: 10em;
    height: 500px;
  }

  /* line 1369, ../sass/chuck-designs.scss */
  div.second-sketches {
    max-height: 250em;
    height: 100%;
  }
  /* line 1373, ../sass/chuck-designs.scss */
  div.second-sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-top: 1em;
  }
  /* line 1381, ../sass/chuck-designs.scss */
  div.second-sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
  }

  /* line 1391, ../sass/chuck-designs.scss */
  div.sketches {
    margin-bottom: 3em;
  }
  /* line 1394, ../sass/chuck-designs.scss */
  div.sketches > p {
    font-size: 2.5em;
    color: gray;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
  }
  /* line 1402, ../sass/chuck-designs.scss */
  div.sketches > img {
    width: 100%;
    max-width: 80em;
    margin: 0 auto;
    display: block;
  }

  /* END LAPTOP NIPOST PROJECT STYLES
  -----------------------------------------------------------------------------*/
}
