/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://obazedesigns.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =Fonts
-----------------------------------------------------------------------------*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 40, ../sass/chuck-designs.scss */
div#home-portfolio h2, div#process h2, div#phil h2, div#expertise h2, div#about h2, div#portfolio h2, div#contact-me h2, div.nipost-holder h2, div.nipost-holder h3 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 4.5em;
  font-weight: 300;
}

/*%buttons{
	color: $green-color;
	background-color: #ffffff;
	border: solid $green-color .125em;
}*/
/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 112, ../sass/chuck-designs.scss */
a:link, a:visited, a:hover, a:focus, a:active
html {
  font-size: 10px;
}

/* line 116, ../sass/chuck-designs.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 121, ../sass/chuck-designs.scss */
body {
  font-size: 10px;
  /*font-family: $helvetica;*/
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 130, ../sass/chuck-designs.scss */
hr {
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 2em;
  border: 0;
}

/* line 138, ../sass/chuck-designs.scss */
#main-container {
  width: 100%;
  overflow: hidden;
}

/* line 143, ../sass/chuck-designs.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: transparent;
  padding: 2em 0 2em 0;
}
/* line 151, ../sass/chuck-designs.scss */
header.main-header img {
  float: left;
  width: 100%;
  max-width: 4em;
  padding-left: 2%;
}

/* line 159, ../sass/chuck-designs.scss */
#lines {
  display: none;
}

/* line 163, ../sass/chuck-designs.scss */
.active-link-style {
  border-bottom: solid #82cec4 0.3em;
}

/* line 167, ../sass/chuck-designs.scss */
nav.main-nav {
  float: right;
  padding-right: 2%;
  position: relative;
  top: 1.3em;
}
/* line 173, ../sass/chuck-designs.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}
/* line 180, ../sass/chuck-designs.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}
/* line 186, ../sass/chuck-designs.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 200;
  /*&:visited{
  	border-bottom: solid $red-color .3em;
  }*/
}
/* line 196, ../sass/chuck-designs.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus {
  border-bottom: solid #82cec4 0.3em;
}

/* line 204, ../sass/chuck-designs.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/* START STYLING SECTION HOME AND HOME-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 214, ../sass/chuck-designs.scss */
div.home-bg {
  height: 150em;
  max-height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/home-bg.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 231, ../sass/chuck-designs.scss */
section.home-container {
  height: 100em;
  max-height: 100%;
  clear: both;
  width: 100%;
}

/* line 239, ../sass/chuck-designs.scss */
div#home {
  width: 100%;
  padding-top: 12%;
  box-sizing: border-box;
  height: 100em;
  max-height: 100%;
  margin: 0 auto;
}

/* line 248, ../sass/chuck-designs.scss */
div.home-contents {
  height: 25em;
  width: 100%;
  margin: 0 auto;
  margin-top: 7%;
  margin-bottom: 28em;
  position: relative;
  z-index: -1;
}
/* line 257, ../sass/chuck-designs.scss */
div.home-contents h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -1;
}
/* line 270, ../sass/chuck-designs.scss */
div.home-contents h2 {
  width: 100%;
  color: #ffffff;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  z-index: -1;
}
/* line 282, ../sass/chuck-designs.scss */
div.home-contents img {
  margin: 0 auto;
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80em;
  max-width: 80%;
  position: relative;
  z-index: -1;
}

/* line 294, ../sass/chuck-designs.scss */
a.dwn-btn {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 305, ../sass/chuck-designs.scss */
a.dwn-btn:hover, a.dwn-btn:focus {
  background-image: url(../imgs/dwn-btn.png);
}

/* END SECTION HOME AND HOME-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PORTFOLIO AND HOME-PORTFOLIO-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 316, ../sass/chuck-designs.scss */
section.home-portfolio-container {
  width: 100%;
  height: 120em;
  background-color: #ffffff;
}

/* line 322, ../sass/chuck-designs.scss */
div#home-portfolio {
  width: 120em;
  max-width: 100%;
  height: 101em;
  margin: 0 auto;
  clear: both;
  padding-top: 5%;
  box-sizing: border-box;
  margin-bottom: 3%;
}
/* line 336, ../sass/chuck-designs.scss */
div#home-portfolio > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 349, ../sass/chuck-designs.scss */
div.left-holder, div.right-holder {
  height: 70em;
  max-width: 100%;
  width: 60em;
  float: left;
}

/* line 356, ../sass/chuck-designs.scss */
div.left-top {
  height: 43.5em;
  width: 100%;
  overflow: hidden;
}
/* line 361, ../sass/chuck-designs.scss */
div.left-top a {
  text-decoration: none;
}
/* line 364, ../sass/chuck-designs.scss */
div.left-top a > p {
  font-size: medium;
  width: 6em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  top: 25em;
  background-color: #82cec4;
}
/* line 377, ../sass/chuck-designs.scss */
div.left-top a img {
  width: 103%;
  position: relative;
  bottom: 5em;
}

/* line 386, ../sass/chuck-designs.scss */
div.right-top {
  height: 29em;
  width: 100%;
  overflow: hidden;
}
/* line 391, ../sass/chuck-designs.scss */
div.right-top a {
  text-decoration: none;
}
/* line 394, ../sass/chuck-designs.scss */
div.right-top a img {
  width: 102%;
  position: relative;
  bottom: 17.5em;
}
/* line 400, ../sass/chuck-designs.scss */
div.right-top a > p {
  font-size: medium;
  width: 8.1em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 2;
  top: 16em;
  background-color: #82cec4;
}

/* line 416, ../sass/chuck-designs.scss */
div.left-bottom-one {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}
/* line 422, ../sass/chuck-designs.scss */
div.left-bottom-one a {
  text-decoration: none;
}
/* line 425, ../sass/chuck-designs.scss */
div.left-bottom-one a img {
  width: 107%;
  position: relative;
  right: 2em;
  bottom: 4.5em;
}
/* line 432, ../sass/chuck-designs.scss */
div.left-bottom-one a > p {
  font-size: medium;
  width: 10em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 3;
  top: 13.8em;
  background-color: #82cec4;
}

/* line 447, ../sass/chuck-designs.scss */
div.left-bottom-two {
  float: left;
  width: 50%;
  height: 25.5em;
  overflow: hidden;
}
/* line 453, ../sass/chuck-designs.scss */
div.left-bottom-two a {
  text-decoration: none;
}
/* line 456, ../sass/chuck-designs.scss */
div.left-bottom-two a img {
  width: 107%;
  position: relative;
  right: 2em;
  bottom: 5.5em;
}
/* line 463, ../sass/chuck-designs.scss */
div.left-bottom-two a > p {
  font-size: medium;
  max-width: 100%;
  width: 8em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 3;
  top: 13.8em;
  background-color: #82cec4;
}

/* line 479, ../sass/chuck-designs.scss */
div.right-bottom {
  height: 40em;
  width: 100%;
  float: left;
  overflow: hidden;
}
/* line 485, ../sass/chuck-designs.scss */
div.right-bottom a {
  text-decoration: none;
}
/* line 488, ../sass/chuck-designs.scss */
div.right-bottom a img {
  width: 130%;
  position: relative;
  right: 10.5em;
  bottom: 12em;
}
/* line 495, ../sass/chuck-designs.scss */
div.right-bottom a > p {
  font-size: medium;
  width: 9em;
  position: relative;
  padding: 0.5em;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  z-index: 4;
  top: 22.9em;
  background-color: #82cec4;
}

/* line 510, ../sass/chuck-designs.scss */
div.port {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  clear: both;
  max-width: 31em;
}
/* line 517, ../sass/chuck-designs.scss */
div.port a {
  text-decoration: none;
  padding: 1em;
  font-size: 2em;
  font-weight: 600;
  color: #f98348;
  background-color: #ffffff;
  border: solid #f98348 0.125em;
  box-sizing: border-box;
  display: block;
}
/* line 528, ../sass/chuck-designs.scss */
div.port a:hover, div.port a:focus {
  color: #ffffff;
  background-color: #f98348;
}

/* END STYLING SECTION PORTFOLIO AND home-portfolio-container STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PROCESS AND PROCESS-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 543, ../sass/chuck-designs.scss */
section.process-container {
  width: 100%;
  height: 70em;
  background-color: #fafafa;
}

/* line 550, ../sass/chuck-designs.scss */
div#process {
  width: 100%;
  height: 70em;
  padding-top: 5%;
  margin: 0 auto;
  clear: both;
  box-sizing: border-box;
}

/* line 564, ../sass/chuck-designs.scss */
div.icon-holder {
  height: 35em;
  width: 131em;
  max-width: 100%;
  margin: 0 auto;
}

/* line 571, ../sass/chuck-designs.scss */
div.icon {
  float: left;
  width: auto;
  margin: 2.3%;
}
/* line 576, ../sass/chuck-designs.scss */
div.icon img {
  width: 15em;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
/* line 583, ../sass/chuck-designs.scss */
div.icon p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #414042;
  text-align: center;
  width: 13em;
  margin-top: 1em;
}
/* line 592, ../sass/chuck-designs.scss */
div.icon p span {
  font-size: 0.8em;
  font-weight: 200;
}

/* END STYLING SECTION PROCESS AND PROCESS-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING SECTION PHIL AND PHIL-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 605, ../sass/chuck-designs.scss */
section.phil-container {
  width: 100%;
  height: 45em;
  background-image: url(../imgs/phil-bg.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 614, ../sass/chuck-designs.scss */
div#phil {
  height: 45em;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}
/* line 621, ../sass/chuck-designs.scss */
div#phil h2 {
  color: #ffffff;
}
/* line 626, ../sass/chuck-designs.scss */
div#phil p {
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.5em;
  color: #ffffff;
  width: 36em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* END STYLING SECTION PHIL AND PHIL-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING EXPERTISE AND EXPERTISE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 645, ../sass/chuck-designs.scss */
section.expertise-container {
  width: 100%;
  height: 75em;
  background-color: #82cec4;
}

/* line 652, ../sass/chuck-designs.scss */
div#expertise {
  width: 100%;
  clear: both;
  box-sizing: border-box;
  height: 75em;
  padding-top: 5%;
  margin: 0 auto;
}
/* line 660, ../sass/chuck-designs.scss */
div#expertise h2 {
  color: #ffffff;
  margin-bottom: 5%;
}

/* line 668, ../sass/chuck-designs.scss */
div.grouped {
  height: 45em;
  width: 125em;
  max-width: 100%;
  margin: 0 auto;
}

/* line 675, ../sass/chuck-designs.scss */
div.left-group-top, div.left-group-bottom, div.right-group-top, div.right-group-bottom {
  height: 15em;
  float: left;
  max-width: 100%;
  width: 57em;
  margin-bottom: 5%;
}

/* line 683, ../sass/chuck-designs.scss */
div.left-group-top, div.right-group-top {
  margin-right: 8%;
}

/* line 687, ../sass/chuck-designs.scss */
div.ex-icon {
  margin: 0 auto;
  height: 15em;
}
/* line 691, ../sass/chuck-designs.scss */
div.ex-icon img {
  width: 15em;
  float: left;
  display: block;
  margin-right: 5%;
}
/* line 698, ../sass/chuck-designs.scss */
div.ex-icon p {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  width: 19em;
  margin-top: 1em;
  float: left;
}
/* line 707, ../sass/chuck-designs.scss */
div.ex-icon p span {
  font-size: 0.8em;
  font-weight: 200;
}

/* END STYLING EXPERTISE AND EXPERTISE-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START STYLING END AND ABOUT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 720, ../sass/chuck-designs.scss */
section.about-container {
  width: 100%;
  background-image: url(../imgs/phil.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 81.5em;
}

/* line 729, ../sass/chuck-designs.scss */
div#about {
  height: 81.5em;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  clear: both;
  box-sizing: border-box;
}
/* line 737, ../sass/chuck-designs.scss */
div#about h2 {
  color: #ffffff;
}
/* line 742, ../sass/chuck-designs.scss */
div#about > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #ffffff;
  width: 41em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5%;
}
/* line 753, ../sass/chuck-designs.scss */
div#about > p a {
  text-decoration: none;
  color: #82cec4;
  font-size: 1em;
  font-weight: 500;
}
/* line 759, ../sass/chuck-designs.scss */
div#about > p a:hover, div#about > p a:focus {
  color: #f98348;
}
/* line 765, ../sass/chuck-designs.scss */
div#about img {
  width: 15em;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 3em;
}

/* line 775, ../sass/chuck-designs.scss */
.social-icons {
  height: 5.3em;
  width: 25em;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1%;
}

/* line 783, ../sass/chuck-designs.scss */
.linked {
  background: url(../imgs/linkedin.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 791, ../sass/chuck-designs.scss */
.linked:hover, .linked:focus {
  background-image: url(../imgs/linkedin-orange.png);
}

/* line 796, ../sass/chuck-designs.scss */
.pin {
  background: url(../imgs/pinterest.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 804, ../sass/chuck-designs.scss */
.pin:hover, .pin:focus {
  background-image: url(../imgs/pinterest-orange.png);
}

/* line 809, ../sass/chuck-designs.scss */
.google-plus {
  background: url(../imgs/google-plus.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 817, ../sass/chuck-designs.scss */
.google-plus:hover, .google-plus:focus {
  background-image: url(../imgs/google-plus-orange.png);
}

/* line 822, ../sass/chuck-designs.scss */
.vim {
  background: url(../imgs/vimeo.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 830, ../sass/chuck-designs.scss */
.vim:hover, .vim:focus {
  background-image: url(../imgs/vimeo-orange.png);
}

/* line 835, ../sass/chuck-designs.scss */
.behan {
  background: url(../imgs/behance.png) no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3em;
  float: left;
  margin: 1em;
}
/* line 843, ../sass/chuck-designs.scss */
.behan:hover, .behan:focus {
  background-image: url(../imgs/behance-orange.png);
}

/* line 848, ../sass/chuck-designs.scss */
div.dwn-pdf {
  width: 20em;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 4em;
  margin: 0 auto;
}
/* line 855, ../sass/chuck-designs.scss */
div.dwn-pdf a {
  text-decoration: none;
  padding: 1em;
  color: #f98348;
  background-color: transparent;
  border: solid #f98348 0.2em;
  box-sizing: border-box;
  display: block;
  height: 5em;
}
/* line 865, ../sass/chuck-designs.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus {
  color: #ffffff;
  background-color: #f98348;
}
/* line 870, ../sass/chuck-designs.scss */
div.dwn-pdf a > p {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 1%;
}

/* END STYLING END AND about-container STYLES
-----------------------------------------------------------------------------*/
/* END STYLING INDEX PAGE
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/* START STYLING PROJECTS PAGE
-----------------------------------------------------------------------------*/
/* START PROJECTS-HOME AND PROJECT-HOME-CONTAINER SECTION
-----------------------------------------------------------------------------*/
/* line 898, ../sass/chuck-designs.scss */
div.portfolio-bg {
  height: 150em;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/portfolio-img.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 913, ../sass/chuck-designs.scss */
section.top-portfolio-container {
  width: 100%;
  height: 50em;
}

/* line 918, ../sass/chuck-designs.scss */
div#top-portfolio {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 925, ../sass/chuck-designs.scss */
div#top-portfolio h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}
/* line 938, ../sass/chuck-designs.scss */
div#top-portfolio h2 {
  width: 100%;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  z-index: -1;
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
}

/* END PROJECTS-HOME AND PROJECT-HOME-CONTAINER SECTION
-----------------------------------------------------------------------------*/
/* START SECTION PROJECTS AND PROJECT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 959, ../sass/chuck-designs.scss */
section.portfolio-container {
  width: 100%;
  height: 136.5em;
  background-color: #ffffff;
}

/* line 966, ../sass/chuck-designs.scss */
div#portfolio {
  height: 136.5em;
  padding-top: 10%;
  margin: 0 auto;
  width: 100%;
  clear: both;
  box-sizing: border-box;
  background-color: #ffffff;
}
/* line 979, ../sass/chuck-designs.scss */
div#portfolio > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 993, ../sass/chuck-designs.scss */
div.port-item {
  width: 48.15em;
  max-width: 100%;
  height: 34em;
  float: left;
  overflow: hidden;
}
/* line 1001, ../sass/chuck-designs.scss */
div.port-item a > img {
  width: 100%;
}

/* END SECTION PROJECTS AND PROJECT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* END STYLING PROJECTS
-----------------------------------------------------------------------------*/
/* START SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 1017, ../sass/chuck-designs.scss */
div.contact-bg {
  height: 150em;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/contact-bg-img-2.jpg);
  background-position: -15em -35em;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 1032, ../sass/chuck-designs.scss */
section.contact-home-container {
  width: 100%;
  height: 50em;
}

/* line 1037, ../sass/chuck-designs.scss */
div#contact-home {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 1044, ../sass/chuck-designs.scss */
div#contact-home h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}

/* line 1059, ../sass/chuck-designs.scss */
section#contact-container {
  width: 100%;
  height: 110em;
  background-color: #ffffff;
}

/* line 1065, ../sass/chuck-designs.scss */
div#contact-me {
  height: 110em;
  padding-top: 5%;
  margin: 0 auto;
  width: 100%;
  clear: both;
  box-sizing: border-box;
}
/* line 1077, ../sass/chuck-designs.scss */
div#contact-me > p {
  font-size: 2em;
  font-weight: 200;
  line-height: 1.5em;
  color: #414042;
  width: 30em;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

/* line 1091, ../sass/chuck-designs.scss */
h3.alert {
  font-weight: bolder;
  color: #f98348;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 2%;
}

/* line 1099, ../sass/chuck-designs.scss */
div.p1 {
  margin-top: 20%;
}
/* line 1102, ../sass/chuck-designs.scss */
div.p1 h3 {
  font-weight: bolder;
  color: #f98348;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 2%;
}

/* line 1113, ../sass/chuck-designs.scss */
span.error h3 {
  font-weight: 200;
  color: #f98348;
  font-size: 1.5em;
  font-style: italic;
  text-align: left;
  margin-bottom: 2%;
}

/* line 1123, ../sass/chuck-designs.scss */
form#contact-us {
  margin: 0 auto;
  width: 100%;
  max-width: 85em;
}

/* line 1129, ../sass/chuck-designs.scss */
input, textarea {
  margin-bottom: 1.5em;
  display: block;
  width: 61em;
  max-width: 100%;
  height: 100%;
  padding: 1.5em;
  font-size: 1.4em;
  line-height: 1.42857143;
  color: gray;
  border: solid 1px #414042;
  box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  box-sizing: border-box;
}

/* line 1145, ../sass/chuck-designs.scss */
button {
  padding: 1em;
  border: #f98348 solid 0.1em;
  font-size: 2.5em;
  font-weight: 600;
  color: #f98348;
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}
/* line 1156, ../sass/chuck-designs.scss */
button:hover, button:focus {
  background-color: #f98348;
  color: #ffffff;
  border: #f98348 solid 0.1em;
}

/* END SECTION CONTACT AND CONTACT-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START FOOTER STYLE
-----------------------------------------------------------------------------*/
/* line 1169, ../sass/chuck-designs.scss */
footer.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  box-sizing: border-box;
  background-color: #82cec4;
  clear: both;
}
/* line 1176, ../sass/chuck-designs.scss */
footer.main-footer p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #ffffff;
}

/*END FOOTER STYLE
-----------------------------------------------------------------------------*/
/* START NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* line 1190, ../sass/chuck-designs.scss */
div.nipost-bg {
  height: 150em;
  width: 100%;
  position: fixed;
  background-image: url(../imgs/nipost-bg-img.jpg);
  background-position: 0em -40em;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -3;
  top: 0em;
  left: 0;
  overflow: hidden;
}

/* line 1205, ../sass/chuck-designs.scss */
section.nipost-home-container {
  width: 100%;
  height: 50em;
}

/* line 1210, ../sass/chuck-designs.scss */
div#nipost-home {
  width: 100%;
  padding-top: 7%;
  box-sizing: border-box;
  height: 96em;
  margin: 0 auto;
}
/* line 1217, ../sass/chuck-designs.scss */
div#nipost-home h1 {
  width: 100%;
  color: #ffffff;
  font-size: 15em;
  text-align: center;
  margin: 0 auto;
  font-weight: bolder;
  line-height: 1.5em;
  opacity: 0.7;
  position: fixed;
  z-index: -2;
}
/* line 1230, ../sass/chuck-designs.scss */
div#nipost-home h2 {
  width: 100%;
  font-size: 4em;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  z-index: -1;
  font-family: 'Kaushan Script', cursive;
  color: #ffffff;
}

/* line 1245, ../sass/chuck-designs.scss */
section.nipost-first-container {
  height: auto;
  padding-top: 7%;
  border: solid 1px red;
  background: #ffffff;
  clear: both;
  box-sizing: border-box;
  margin: 0 auto;
  border: solid 1px red;
}

/* line 1256, ../sass/chuck-designs.scss */
div.nipost-holder {
  width: 150em;
  max-width: 100%;
  border: solid 1px red;
  clear: both;
  margin: 0 auto;
}
/* line 1263, ../sass/chuck-designs.scss */
div.nipost-holder h2 {
  margin-bottom: 0.5em;
}
/* line 1268, ../sass/chuck-designs.scss */
div.nipost-holder > img {
  width: 85em;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10em;
}
/* line 1276, ../sass/chuck-designs.scss */
div.nipost-holder > p {
  font-size: 1.9em;
  line-height: 1.4em;
  color: gray;
  font-weight: 300;
  width: 100%;
  max-width: 45em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 1288, ../sass/chuck-designs.scss */
div.nipost-holder h3 {
  margin-bottom: 1em;
  font-weight: 100;
  color: #414042;
}

/* END NIPOST PROJECT PAGE STYLES
-----------------------------------------------------------------------------*/
/* START MEDIA QUERIES
-----------------------------------------------------------------------------*/
/* =Cell Phone Media Query Portrait
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 740px) and (orientation: portrait) {
  /* =Start Nav Style */
  /* line 1315, ../sass/chuck-designs.scss */
  nav.main-nav {
    position: relative;
    top: 0;
    padding: 2%;
  }

  /* line 1321, ../sass/chuck-designs.scss */
  nav.active-nav {
    display: none;
  }

  /* line 1325, ../sass/chuck-designs.scss */
  #lines {
    border-bottom: 1.7em double #82cec4;
    border-top: 0.6em solid #82cec4;
    content: "";
    height: 0.5em;
    width: 3em;
    display: inline-block;
    float: right;
    margin-top: 3%;
    margin-right: 2%;
  }
  /* line 1337, ../sass/chuck-designs.scss */
  #lines:hover {
    border-bottom: 1.7em double #f98348;
    border-top: 0.6em solid #f98348;
  }

  /* line 1344, ../sass/chuck-designs.scss */
  nav.main-nav ul, nav.main-nav:active ul {
    display: none;
    clear: both;
    height: 12em;
    position: absolute;
    padding: 20px;
    background: #82cec4;
    border: 1px solid red;
    right: 0px;
    top: 60px;
    width: 33em;
  }

  	/*nav:active ul {
  		display: none;
  		position: absolute;
  		padding: 20px;
  		background: transparent;
  		border: 1px solid red;
  		right: 0px;
  		top: 60px;
  		width: 100%;
  
  
  	}*/
  /* line 1371, ../sass/chuck-designs.scss */
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    float: left;
    margin-right: 0;
    display: inline;
  }

  /* line 1384, ../sass/chuck-designs.scss */
  nav:hover ul {
    display: block;
  }

  /* =End Nav Style */
  /* =Start Home Section Style */
  /* line 1394, ../sass/chuck-designs.scss */
  div.home-bg {
    height: 63em;
  }

  /* line 1398, ../sass/chuck-designs.scss */
  section.home-container {
    height: 63em;
  }

  /* line 1402, ../sass/chuck-designs.scss */
  div#home {
    padding-top: 0;
    height: 63em;
    clear: both;
  }

  /* line 1408, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-top: 50%;
    margin-bottom: 45%;
    height: 21em;
  }
  /* line 1413, ../sass/chuck-designs.scss */
  div.home-contents h1 {
    line-height: 0.8em;
    font-size: 11em;
    top: 2em;
  }
  /* line 1419, ../sass/chuck-designs.scss */
  div.home-contents h2 {
    line-height: 1.1em;
    font-size: 3em;
  }

  /* line 1425, ../sass/chuck-designs.scss */
  a.dwn-btn {
    max-width: 4.5em;
    height: 4.5em;
    display: none;
  }

  /* =End Home Section Style */
  /* =Start Home Portfolio Section Style */
  /* line 1435, ../sass/chuck-designs.scss */
  section.home-portfolio-container {
    height: 138em;
  }

  /* line 1439, ../sass/chuck-designs.scss */
  div#home-portfolio {
    padding: 10% 2% 0 2%;
    height: 138em;
  }
  /* line 1443, ../sass/chuck-designs.scss */
  div#home-portfolio h2 {
    margin-bottom: 10%;
  }

  /* line 1449, ../sass/chuck-designs.scss */
  div.left-holder {
    height: 46em;
  }

  /* line 1453, ../sass/chuck-designs.scss */
  div.left-top {
    height: 27.4em;
  }
  /* line 1457, ../sass/chuck-designs.scss */
  div.left-top a p {
    top: 15em;
    width: 100%;
    text-align: center;
  }

  /* line 1465, ../sass/chuck-designs.scss */
  div.left-bottom-one {
    height: 18.5em;
  }
  /* line 1469, ../sass/chuck-designs.scss */
  div.left-bottom-one a img {
    width: 112%;
    bottom: 3.5em;
  }
  /* line 1474, ../sass/chuck-designs.scss */
  div.left-bottom-one a p {
    top: 9.4em;
    width: 100%;
    text-align: center;
  }

  /* line 1482, ../sass/chuck-designs.scss */
  div.left-bottom-two {
    height: 18.5em;
  }
  /* line 1486, ../sass/chuck-designs.scss */
  div.left-bottom-two a img {
    width: 112%;
    bottom: 3.5em;
    right: 1em;
  }
  /* line 1492, ../sass/chuck-designs.scss */
  div.left-bottom-two a p {
    top: 9.4em;
    width: 100%;
    text-align: center;
  }

  /* line 1500, ../sass/chuck-designs.scss */
  div.right-holder {
    height: 53.5em;
  }

  /* line 1504, ../sass/chuck-designs.scss */
  div.right-top {
    height: 24.3em;
  }
  /* line 1508, ../sass/chuck-designs.scss */
  div.right-top a img {
    bottom: 10.5em;
    width: 102%;
  }
  /* line 1513, ../sass/chuck-designs.scss */
  div.right-top a p {
    top: 13em;
    width: 100%;
    text-align: center;
  }

  /* line 1521, ../sass/chuck-designs.scss */
  div.right-bottom {
    height: 29em;
  }
  /* line 1525, ../sass/chuck-designs.scss */
  div.right-bottom a img {
    bottom: 8.5em;
    width: 128%;
    right: 7em;
  }
  /* line 1531, ../sass/chuck-designs.scss */
  div.right-bottom a p {
    top: 15.94em;
    width: 100%;
    text-align: center;
  }

  /* line 1539, ../sass/chuck-designs.scss */
  div.port {
    position: relative;
    bottom: 11em;
  }

  /* =End Home Portfolio Section Style */
  /* =Start Process Section Style */
  /* line 1548, ../sass/chuck-designs.scss */
  section.process-container {
    height: 150em;
  }

  /* line 1552, ../sass/chuck-designs.scss */
  div#process {
    padding: 10% 2% 0 2%;
    height: 150em;
  }

  /* line 1558, ../sass/chuck-designs.scss */
  div.icon-holder {
    height: 140em;
    width: 100%;
    max-width: 100%;
  }

  /* line 1565, ../sass/chuck-designs.scss */
  div.icon {
    padding: 10% 14.7% 0 14.7%;
    margin: 0;
    box-sizing: border-box;
  }

  /* =End Process Section Style */
  /* =Start Phil Section Style */
  /* line 1575, ../sass/chuck-designs.scss */
  section.phil-container {
    height: 43.5em;
  }

  /* line 1579, ../sass/chuck-designs.scss */
  div#phil {
    padding: 10% 2% 0 2%;
    height: 43.5em;
  }
  /* line 1583, ../sass/chuck-designs.scss */
  div#phil h2 {
    margin-bottom: 10%;
  }

  /* =End Phil Section Style */
  /* =Start Expertise Section Style */
  /* line 1592, ../sass/chuck-designs.scss */
  section.expertise-container {
    height: 150em;
  }

  /* line 1596, ../sass/chuck-designs.scss */
  div#expertise {
    height: 150em;
    padding: 10% 2% 0 2%;
  }
  /* line 1600, ../sass/chuck-designs.scss */
  div#expertise h2 {
    margin-bottom: 10%;
  }

  /* line 1605, ../sass/chuck-designs.scss */
  div.grouped {
    width: 100%;
    height: 136.8em;
  }

  /* line 1613, ../sass/chuck-designs.scss */
  div.left-group-top,
  div.left-group-bottom,
  div.right-group-top,
  div.right-group-bottom {
    width: 100%;
    float: none;
    height: 32em;
  }

  /* line 1619, ../sass/chuck-designs.scss */
  div.ex-icon {
    height: 32em;
    width: 100%;
  }
  /* line 1623, ../sass/chuck-designs.scss */
  div.ex-icon img {
    margin: 0 auto;
    float: none;
    margin-bottom: 5%;
  }
  /* line 1629, ../sass/chuck-designs.scss */
  div.ex-icon p {
    text-align: center;
    margin-top: 0;
    width: 15em;
    margin: 0 auto;
    display: block;
    float: none;
  }

  /* =End Expertise Section Style */
  /* =Start About Section Style */
  /* line 1643, ../sass/chuck-designs.scss */
  section.about-container {
    height: 110em;
  }

  /* line 1647, ../sass/chuck-designs.scss */
  div#about {
    height: 110em;
    padding: 10% 2% 0 2%;
  }
  /* line 1651, ../sass/chuck-designs.scss */
  div#about h2 {
    margin-bottom: 10%;
  }
  /* line 1655, ../sass/chuck-designs.scss */
  div#about p {
    text-align: center;
    margin-bottom: 10%;
  }

  /* line 1661, ../sass/chuck-designs.scss */
  div.social-icons {
    margin-top: 8%;
  }

  /* =End About Section Style */
  /* =Start Portfolio Page Style */
  /* line 1669, ../sass/chuck-designs.scss */
  section.top-portfolio-container {
    height: 63em;
  }

  /* line 1673, ../sass/chuck-designs.scss */
  div#top-portfolio {
    padding-top: 0;
    height: 63em;
  }
  /* line 1677, ../sass/chuck-designs.scss */
  div#top-portfolio h1 {
    font-size: 7em;
    line-height: 1.5em;
    top: 3.5em;
  }

  /* line 1684, ../sass/chuck-designs.scss */
  section.portfolio-container {
    height: 383.5em;
  }

  /* line 1688, ../sass/chuck-designs.scss */
  div#portfolio {
    padding-top: 10%;
    box-sizing: border-box;
    height: 383.5em;
  }
  /* line 1693, ../sass/chuck-designs.scss */
  div#portfolio p {
    margin-bottom: 10%;
  }

  /* line 1699, ../sass/chuck-designs.scss */
  div.port-item {
    height: 30em;
  }

  /* =End Portfolio Page Style */
  /* =Start Contact Section Style */
  /* line 1707, ../sass/chuck-designs.scss */
  div.contact-bg {
    background-position: -102em -32em;
  }

  /* line 1711, ../sass/chuck-designs.scss */
  section.contact-home-container {
    height: 63em;
  }

  /* line 1715, ../sass/chuck-designs.scss */
  div#contact-home {
    padding-top: 0;
    height: 63em;
  }
  /* line 1719, ../sass/chuck-designs.scss */
  div#contact-home h1 {
    font-size: 11em;
    line-height: 0.8em;
    top: 2.1em;
  }

  /* line 1726, ../sass/chuck-designs.scss */
  div#contact-me {
    padding: 10% 2% 0 2%;
  }
  /* line 1729, ../sass/chuck-designs.scss */
  div#contact-me h2 {
    margin-bottom: 10%;
  }

  /* =End Contact Section Style */
}
/* =iPad Media Query
-----------------------------------------------------------------------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 1757, ../sass/chuck-designs.scss */
  div.home-bg {
    height: 91.8em;
    border: solid 1px red;
  }

  /* line 1762, ../sass/chuck-designs.scss */
  section.home-container {
    height: 91.8em;
    border: solid 1px red;
  }

  /* line 1767, ../sass/chuck-designs.scss */
  div#home {
    height: 91em;
    padding-top: 7%;
  }

  /* line 1772, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-top: 30%;
    margin-bottom: 33%;
    border: solid 1px red;
    height: 31em;
  }

  /* line 1779, ../sass/chuck-designs.scss */
  div.home-contents h1 {
    line-height: 0.8em;
    top: 2.1em;
  }

  /* line 1784, ../sass/chuck-designs.scss */
  section.home-portfolio-container, div#home-portfolio {
    height: 185em;
  }

  /* line 1788, ../sass/chuck-designs.scss */
  div.left-holder, div.right-holder {
    width: 76.8em;
  }

  /* line 1792, ../sass/chuck-designs.scss */
  div.left-bottom-one, div.left-bottom-two {
    height: 26.5em;
  }
  /* line 1796, ../sass/chuck-designs.scss */
  div.left-bottom-one a p, div.left-bottom-two a p {
    top: 14.4em;
  }

  /* line 1802, ../sass/chuck-designs.scss */
  div.left-bottom-two a img {
    bottom: 7.5em;
  }

  /* line 1806, ../sass/chuck-designs.scss */
  div.right-top a img {
    bottom: 26.5em;
  }

  /* line 1810, ../sass/chuck-designs.scss */
  div.right-bottom a img {
    width: 115%;
    bottom: 15em;
    right: 8.5em;
  }

  /* line 1816, ../sass/chuck-designs.scss */
  div.port {
    position: relative;
    bottom: 15em;
  }
}
/* =Media Query for Laptops
-----------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* START STYLING LAPTOP SIZE INDEX PAGE
  -----------------------------------------------------------------------------*/
  /* START STYLING LAPTOP SIZE SECTION HOME AND HOME-CONTAINER STYLES
  -----------------------------------------------------------------------------*/
  /* =Start Home Section Style */
  /* line 1847, ../sass/chuck-designs.scss */
  div.home-bg {
    height: 67.8em;
  }

  /* line 1851, ../sass/chuck-designs.scss */
  section.home-container {
    height: 67.8em;
  }

  /* line 1855, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-top: 8%;
    margin-bottom: 10%;
  }

  /* line 1860, ../sass/chuck-designs.scss */
  div#home-portfolio {
    padding-top: 10%;
  }

  /* =End Home Section Style */
  /* line 1866, ../sass/chuck-designs.scss */
  div#expertise {
    height: 63em;
    padding-top: 10%;
  }

  /* line 1871, ../sass/chuck-designs.scss */
  section.phil-container {
    height: 47em;
  }

  /* line 1875, ../sass/chuck-designs.scss */
  div#phil {
    height: 35em;
  }

  /* line 1879, ../sass/chuck-designs.scss */
  section.expertise-container {
    height: 80em;
  }

  /* line 1883, ../sass/chuck-designs.scss */
  div#about {
    padding-top: 10%;
  }

  /* line 1887, ../sass/chuck-designs.scss */
  div.grouped {
    width: 115.5em;
    height: 38em;
  }

  /* line 1892, ../sass/chuck-designs.scss */
  div.icon {
    margin: 2.22%;
  }

  /* line 1896, ../sass/chuck-designs.scss */
  div.ex-icon {
    height: 20em;
  }

  /* line 1900, ../sass/chuck-designs.scss */
  div.ex-icon p {
    width: 19em;
  }

  /* line 1905, ../sass/chuck-designs.scss */
  div.left-group-top,
  div.right-group-top {
    margin-right: 3%;
    width: 56em;
    height: 17em;
  }

  /* line 1911, ../sass/chuck-designs.scss */
  div#process, div#phil {
    padding-top: 10%;
  }

  /* line 1916, ../sass/chuck-designs.scss */
  div.left-group-bottom,
  div.right-group-bottom {
    width: 56em;
    height: 17em;
  }

  /* line 1921, ../sass/chuck-designs.scss */
  section.about-container {
    height: 87em;
  }

  /* line 1925, ../sass/chuck-designs.scss */
  div.port-item {
    width: 32em;
    max-width: 100%;
    height: 24em;
  }

  /* line 1931, ../sass/chuck-designs.scss */
  section.portfolio-container {
    height: 96.7em;
  }

  /* line 1935, ../sass/chuck-designs.scss */
  div#portfolio {
    height: 96.7em;
    padding-top: 5%;
  }

  /* line 1942, ../sass/chuck-designs.scss */
  section.top-portfolio-container,
  section.contact-home-container,
  section.nipost-home-container {
    height: 40em;
  }

  /* line 1946, ../sass/chuck-designs.scss */
  div.contact-bg {
    background-position: -53em -35em;
  }
}
@media screen and (max-width: 1696px) and (-webkit-min-device-pixel-ratio: 1) {
  /* line 1955, ../sass/chuck-designs.scss */
  div.home-contents {
    margin-bottom: 30em;
    padding-top: 3%;
    box-sizing: border-box;
  }

  /* line 1961, ../sass/chuck-designs.scss */
  div.port-item {
    width: 41.57em;
    height: 31em;
  }
}
