/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://cobadesign.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 25, ../sass/coba.scss */
div#home, div#projects, div#about, div#resume, div#contact-me {
  margin: 0 auto;
  max-width: 105em;
  width: 100%;
  height: 96em;
  clear: both;
  padding-top: 7%;
  box-sizing: border-box;
}

/* line 35, ../sass/coba.scss */
section.first-container, section.second-container, section.third-container, section.fourth-container, section#fifth-container {
  border: solid 1px red;
  width: 100%;
}

/* line 40, ../sass/coba.scss */
div#projects h2, div#about h2, div#resume h2 {
  text-align: center;
  margin-bottom: 2%;
  color: gray;
  font-size: 3em;
  margin: 5% 0 5% 0;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 53, ../sass/coba.scss */
a:link, a:visited, a:hover, a:focus, a:active
html {
  font-size: 10px;
}

/* line 57, ../sass/coba.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 62, ../sass/coba.scss */
body {
  font-size: 10px;
  height: 4000px;
  /*font-family: $helvetica;*/
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 72, ../sass/coba.scss */
#main-container {
  width: 100%;
}

/* line 76, ../sass/coba.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  padding: 2em 0 2em 0;
  border-bottom: 1px solid gray;
}
/* line 84, ../sass/coba.scss */
header.main-header img {
  float: left;
  width: 20em;
  padding-left: 2%;
}

/* line 92, ../sass/coba.scss */
nav.main-nav {
  float: right;
  padding-right: 2%;
  position: relative;
  top: 4.5em;
}
/* line 98, ../sass/coba.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}
/* line 105, ../sass/coba.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}
/* line 111, ../sass/coba.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.7em;
  font-weight: bold;
}
/* line 117, ../sass/coba.scss */
nav.main-nav ul li a:visited {
  border-bottom: solid #ed1c24 0.3em;
}
/* line 121, ../sass/coba.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus, nav.main-nav ul li a:active {
  border-bottom: solid #ed1c24 0.3em;
}

/* line 129, ../sass/coba.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 137, ../sass/coba.scss */
section.first-container {
  background-image: url(../imgs/new-splash-bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 96em;
  clear: both;
  width: 100%;
}

/* line 148, ../sass/coba.scss */
div#home {
  border: solid 1px green;
}
/* line 152, ../sass/coba.scss */
div#home h1 {
  width: 100%;
  max-width: 25em;
  color: #ffffff;
  font-family: 'Londrina Outline';
  font-weight: bold;
  border: solid 1px red;
  font-size: 3em;
  float: right;
}
/* line 165, ../sass/coba.scss */
div#home img {
  width: 100%;
  max-width: 40em;
  border: solid 1px red;
  float: left;
}

/* END SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 195, ../sass/coba.scss */
div.port-item {
  border: solid 1px red;
  width: 100%;
  max-width: 24.4em;
  margin-right: 2%;
  height: 20em;
  float: right;
  margin-bottom: 2%;
}

/* line 207, ../sass/coba.scss */
div.port-item-last {
  margin-right: 0% !important;
  border: solid 1px red;
  width: 23.3%;
  height: 20em;
  float: right;
  margin-bottom: 2%;
}

/* END SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION ABOUT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 223, ../sass/coba.scss */
section.third-container {
  background-color: #acacac;
}

/* line 229, ../sass/coba.scss */
div#about {
  border: solid 1px red;
  height: 90em;
}
/* line 239, ../sass/coba.scss */
div#about p {
  float: left;
  font-size: 2.5em;
  line-height: 1.6em;
  color: white;
  font-weight: 300;
  width: 100%;
  max-width: 26em;
  height: 100%;
  max-height: 17.7em;
  margin-right: 3%;
  border: solid 1px green;
}
/* line 252, ../sass/coba.scss */
div#about p a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  color: #414042;
  font-weight: bold;
}
/* line 261, ../sass/coba.scss */
div#about img {
  width: 100%;
  max-width: 36.4em;
}

/* END SECTION CONTACT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION CONTACT AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 277, ../sass/coba.scss */
section.fourth-container {
  background-color: #acacac;
}

/* line 283, ../sass/coba.scss */
div#resume {
  border: solid 1px red;
  height: 90em;
}

/* END SECTION CONTACT AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 309, ../sass/coba.scss */
div#contact-me h2 {
  text-align: center;
  margin-bottom: 2%;
  color: gray;
  font-size: 3em;
  margin: 2% 0 2% 0;
}

/* line 318, ../sass/coba.scss */
#form-holder {
  border: solid 1px red;
}

/* line 322, ../sass/coba.scss */
section#alt-about {
  display: none;
}
/* line 325, ../sass/coba.scss */
section#alt-about img {
  display: none;
}

/* END SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* =iPhone 6 Media Query
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  /* line 342, ../sass/coba.scss */
  section#home {
    width: 100%;
  }

  /* line 346, ../sass/coba.scss */
  header.main-header {
    width: 100%;
    height: 17em;
  }
  /* line 350, ../sass/coba.scss */
  header.main-header img {
    margin: 0 auto !important;
    display: block;
    width: 20em;
    float: none;
  }

  /* line 358, ../sass/coba.scss */
  nav.main-nav {
    float: none;
    padding: 0 2em 0 2em;
  }
  /* line 362, ../sass/coba.scss */
  nav.main-nav ul {
    margin: 0 auto;
    width: 100%;
    max-width: 30em;
  }

  /* line 369, ../sass/coba.scss */
  div#projects {
    margin: 0 auto;
    border: solid 1px pink;
    height: 76em;
    clear: both;
    width: 100%;
    padding: 7% 2% 0% 2%;
    box-sizing: border-box;
  }
  /* line 378, ../sass/coba.scss */
  div#projects h2 {
    text-align: center;
    margin-bottom: 2%;
    color: gray;
    font-size: 3em;
    margin: 2% 0 2% 0;
  }

  /* line 388, ../sass/coba.scss */
  div.port-item {
    border: solid 1px red;
    width: 48.4%;
    margin-right: 2%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 399, ../sass/coba.scss */
  div.port-item-last {
    margin-right: 0% !important;
    border: solid 1px red;
    width: 48.4%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 408, ../sass/coba.scss */
  div#margin-out {
    margin-right: 0;
  }

  /* line 412, ../sass/coba.scss */
  div#margin-outter {
    margin-right: 0;
  }
}
/* =iPad Media Query
-----------------------------------------------------------------------------*/
/* =Media Query for Laptops
-----------------------------------------------------------------------------*/
