/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://cobadesign.com
-----------------------------------------------------------------------------*/
/* =imports
-----------------------------------------------------------------------------*/
/* START FONT FAMILY*/
/* END FONT FAMILY*/
/* =Fonts
-----------------------------------------------------------------------------*/
/* =SASS Variables
-----------------------------------------------------------------------------*/
/* line 30, ../sass/coba.scss */
div#home, div#projects, div#about, div#resume, div#contact-me {
  margin: 0 auto;
  max-width: 105em;
  width: 100%;
  height: 96em;
  clear: both;
  padding-top: 7%;
  box-sizing: border-box;
}

/* line 40, ../sass/coba.scss */
section.first-container, section.second-container, section.third-container, section#fourth-container, section#fifth-container {
  width: 100%;
}

/* line 44, ../sass/coba.scss */
div#projects h2, div#about h2, div#resume h2 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 3em;
  margin: 5% 0 5% 0;
}

/* line 52, ../sass/coba.scss */
a.social-one, a.social-two, a.social-three {
  width: 6em;
  height: 6em;
  max-height: 100%;
  max-width: 100%;
  display: block;
  background-size: 6em;
  background-repeat: no-repeat;
  float: left;
  padding: 3%;
}

/* line 65, ../sass/coba.scss */
div.dwn-pdf, div.skill-info {
  float: left;
  width: 100%;
  max-width: 33em;
  box-sizing: border-box;
  margin-right: 1em;
}

/* line 73, ../sass/coba.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus, button:hover, button:focus {
  color: #f0555a;
  background-color: #ffffff;
  border: solid #f0555a 0.125em;
}

/* line 79, ../sass/coba.scss */
div.skill-info ul li, div.education ul li {
  background-image: url(../imgs/bullet.png);
  background-repeat: no-repeat;
  list-style: none;
  background-position: center left;
  background-size: 0.9em;
  font-size: 1.7em;
  line-height: 1.5em;
  padding-left: 1.5em;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/
/* line 124, ../sass/coba.scss */
a:link, a:visited, a:hover, a:focus, a:active
html {
  font-size: 10px;
}

/* line 128, ../sass/coba.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 133, ../sass/coba.scss */
body {
  font-size: 10px;
  /*font-family: $helvetica;*/
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin: 0 auto;
}

/* line 142, ../sass/coba.scss */
#main-container {
  width: 100%;
}

/* line 146, ../sass/coba.scss */
header.main-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #ffffff;
  padding: 2em 0 2em 0;
  border-bottom: 1px solid gray;
}
/* line 154, ../sass/coba.scss */
header.main-header img {
  float: left;
  width: 20em;
  padding-left: 2%;
}

/* line 161, ../sass/coba.scss */
.jquery-style {
  border-bottom: solid #f0555a 0.3em;
}

/* line 166, ../sass/coba.scss */
nav.main-nav {
  float: right;
  padding-right: 2%;
  position: relative;
  top: 4.5em;
}
/* line 172, ../sass/coba.scss */
nav.main-nav ul {
  clear: both;
  height: 2em;
  padding: 0;
  margin: 0;
}
/* line 179, ../sass/coba.scss */
nav.main-nav ul li {
  list-style: none;
  float: left;
  margin-right: 2em;
  display: inline;
}
/* line 185, ../sass/coba.scss */
nav.main-nav ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.7em;
  font-weight: bold;
}
/* line 191, ../sass/coba.scss */
nav.main-nav ul li a:visited {
  border-bottom: solid #f0555a 0.3em;
}
/* line 195, ../sass/coba.scss */
nav.main-nav ul li a:hover, nav.main-nav ul li a:focus, nav.main-nav ul li a:active {
  border-bottom: solid #f0555a 0.3em;
}

/* line 203, ../sass/coba.scss */
li.contact-nav {
  margin-right: 0em !important;
}

/* START STYLING SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 211, ../sass/coba.scss */
section.first-container {
  background-image: url(../imgs/bg.jpg);
  background-position: center center;
  background-size: cover;
  height: 96em;
  clear: both;
  width: 100%;
}

/* line 222, ../sass/coba.scss */
div#home {
  max-width: 135em;
}

/* line 227, ../sass/coba.scss */
div.letters-holder {
  height: 80em;
  width: 100%;
  max-width: 103em;
  margin: 0 auto;
  margin-top: 1%;
}
/* line 234, ../sass/coba.scss */
div.letters-holder h1 {
  width: 100%;
  max-width: 22em;
  color: #ffffff;
  font-size: 3em;
  text-align: center;
  margin: 0 auto;
  font-weight: 200;
  line-height: 1.5em;
}
/* line 246, ../sass/coba.scss */
div.letters-holder img {
  margin: 0 auto;
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* line 254, ../sass/coba.scss */
div.letters-holder a {
  max-width: 6em;
  height: 6em;
  max-height: 100%;
  width: 100%;
  display: block;
  position: relative;
  top: 11%;
  margin: 0 auto;
  background-image: url(../imgs/dwn-btn-white.png);
  background-size: 6em;
  background-repeat: no-repeat;
}
/* line 267, ../sass/coba.scss */
div.letters-holder a:hover, div.letters-holder a:focus {
  background-image: url(../imgs/dwn-btn.png);
}

/*div.letters{
		width: 100%;
		max-width:0.6em;
		color: #ffffff;
		font-family: 'Londrina Shadow', cursive;
		text-shadow: 8px 8px rgba(255, 103, 103, 0.3);
		font-weight: bold;
		font-size: 24em;
		text-align: center;
		display: inline-block;
		@include transition(all 500ms cubic-bezier(0.865,-0.15,0.085,1.21));
		@include transition-timing(cubic-bezier(0.865,-0.15,0.085,1.21));

}

div#w{
		@include transform(translateX(-1px) translateY(68px) rotate(-17deg));
		@include transition( 0s);
}

div#e{
		@include transform(translateX(-3px) translateY(39px) rotate(-13deg));
		@include transition(.04s);

}
div#l{
		 @include transform(translateX(-3px) translateY(21px) rotate(-9deg));
		 @include transition(.08s);
}

div#c{
		 @include transform(translateX(0px) translateY(10px) rotate(0deg));
		 @include transition(.02s);
}

div#o{
		 @include transform(translateX(3px) translateY(21px) rotate(9deg));
		 @include transition(.32s);
}

div#m{
		 @include transform(translateX(3px) translateY(39px) rotate(13deg));
		 @include transition(.32s);
}

div#ee{
		 @include transform(translateX(1px) translateY(68px) rotate(17deg));
		 @include transition(.04s);
}*/
/* END SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 347, ../sass/coba.scss */
div.port-item {
  border: solid 1px red;
  width: 100%;
  max-width: 24.4em;
  margin-right: 2%;
  height: 20em;
  float: right;
  margin-bottom: 2%;
}

/* line 359, ../sass/coba.scss */
div.port-item-last {
  margin-right: 0% !important;
  border: solid 1px red;
  width: 23.3%;
  height: 20em;
  float: right;
  margin-bottom: 2%;
}

/* END SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION ABOUT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 375, ../sass/coba.scss */
section.third-container {
  background-color: #acacac;
  height: 96em;
}

/* line 382, ../sass/coba.scss */
div#about {
  height: 80em;
}
/* line 387, ../sass/coba.scss */
div#about h2 {
  color: #414042;
}
/* line 392, ../sass/coba.scss */
div#about p {
  float: left;
  font-size: 2.5em;
  line-height: 1.6em;
  color: white;
  font-weight: 300;
  width: 100%;
  max-width: 26.1em;
  height: 100%;
  max-height: 17.7em;
  margin-right: 3%;
}
/* line 405, ../sass/coba.scss */
div#about p a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  color: #414042;
  font-weight: bold;
}
/* line 412, ../sass/coba.scss */
div#about p a:hover, div#about p a:focus {
  color: #ffffff;
}

/* line 419, ../sass/coba.scss */
img.about-chuck {
  width: 100%;
  max-width: 36.4em;
}

/* line 424, ../sass/coba.scss */
div.social {
  float: right;
  margin-right: 6.5%;
  margin-top: 1%;
  width: 100%;
  max-width: 22em;
  height: 100%;
  max-height: 6em;
}

/* line 434, ../sass/coba.scss */
a.social-one {
  background-image: url(../imgs/in.png);
}
/* line 438, ../sass/coba.scss */
a.social-one:hover, a.social-one:focus {
  background-image: url(../imgs/in-white.png);
}

/* line 443, ../sass/coba.scss */
a.social-two {
  background-image: url(../imgs/pin.png);
}
/* line 447, ../sass/coba.scss */
a.social-two:hover, a.social-two:focus {
  background-image: url(../imgs/pin-white.png);
}

/* line 452, ../sass/coba.scss */
a.social-three {
  background-image: url(../imgs/rss.png);
}
/* line 457, ../sass/coba.scss */
a.social-three:hover, a.social-three:focus {
  background-image: url(../imgs/rss-white.png);
}

/* END SECTION ABOUT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION RESUME AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 470, ../sass/coba.scss */
section#fourth-container {
  height: 208em;
}

/* line 476, ../sass/coba.scss */
div#resume {
  height: 197em;
}

/* line 485, ../sass/coba.scss */
div.dwn-pdf {
  margin-bottom: 4em;
}
/* line 489, ../sass/coba.scss */
div.dwn-pdf a {
  text-decoration: none;
  padding: 1.9em 0 0 1.5em;
  font-size: 2em;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  background-color: #f0555a;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  background-image: url(../imgs/pdf-btn-white.png);
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: 13em 1.1em;
  height: 5em;
}
/* line 506, ../sass/coba.scss */
div.dwn-pdf a:hover, div.dwn-pdf a:focus {
  background-image: url(../imgs/pdf-btn-red.png);
}

/* line 514, ../sass/coba.scss */
div.skill-info {
  height: 155em;
  background-color: #efefef;
  padding: 6em 3.5em 0 3.5em;
}
/* line 520, ../sass/coba.scss */
div.skill-info h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 3em;
  text-align: center;
}
/* line 527, ../sass/coba.scss */
div.skill-info h4 {
  font-size: 2em;
}
/* line 531, ../sass/coba.scss */
div.skill-info hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  border: solid 0.2em #f0555a;
  width: 5.5em;
}
/* line 540, ../sass/coba.scss */
div.skill-info ul {
  margin-bottom: 4em;
}

/* line 550, ../sass/coba.scss */
div.resume-info {
  float: right;
  max-width: 68.2em;
  width: 100%;
}

/* line 556, ../sass/coba.scss */
div.education {
  color: #414042;
}
/* line 559, ../sass/coba.scss */
div.education h3 {
  font-size: 2.5em;
  color: #f0555a;
  margin-bottom: 1em;
}
/* line 565, ../sass/coba.scss */
div.education h4 {
  font-size: 2em;
  margin-bottom: .5em;
}
/* line 569, ../sass/coba.scss */
div.education h4 span {
  font-weight: 300;
}
/* line 574, ../sass/coba.scss */
div.education p {
  font-size: 1.7em;
  line-height: 1.5em;
  margin-bottom: 2em;
}
/* line 580, ../sass/coba.scss */
div.education ul {
  margin-bottom: 2em;
}

/* END SECTION RESUME AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* line 597, ../sass/coba.scss */
section#fifth-container {
  /*background-color: $alt-gray-color;*/
  background-image: url(../imgs/contact-us-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* line 607, ../sass/coba.scss */
div#contact-me {
  height: 85em;
  padding-top: 7%;
}
/* line 612, ../sass/coba.scss */
div#contact-me h2 {
  text-align: center;
  margin-bottom: 2%;
  color: #414042;
  font-size: 3em;
  margin: 2% 0 2% 0;
}

/* line 624, ../sass/coba.scss */
form#get-in-touch {
  margin: 0 auto;
  width: 100%;
  max-width: 85em;
}

/* line 630, ../sass/coba.scss */
input, textarea {
  margin-bottom: 1.5em;
  display: block;
  width: 100%;
  max-width: 61em;
  height: 100%;
  padding: 1.5em;
  font-size: 1.4em;
  line-height: 1.42857143;
  color: gray;
  border: solid 1px #414042;
  border-radius: .5em;
  box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -webkit-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -moz-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  -ms-box-shadow: inset 0.2em 0.2em 0.4em #414042;
  box-sizing: border-box;
}

/* line 647, ../sass/coba.scss */
button {
  padding: 1em 1em;
  border: #f0555a;
  border-radius: .3em;
  font-size: 3em;
  font-weight: 600;
  color: #ffffff;
  background-color: #f0555a;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
}

/* line 664, ../sass/coba.scss */
footer.main-footer {
  padding: 4em 4em;
}
/* line 667, ../sass/coba.scss */
footer.main-footer p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  color: #414042;
}

/* END SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/
/* START MEDIA QUERIES
-----------------------------------------------------------------------------*/
/* =iPhone 6 Media Query
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait) {
  /* line 697, ../sass/coba.scss */
  section#home {
    width: 100%;
  }

  /* line 701, ../sass/coba.scss */
  header.main-header {
    width: 100%;
    height: 17em;
  }
  /* line 705, ../sass/coba.scss */
  header.main-header img {
    margin: 0 auto !important;
    display: block;
    width: 20em;
    float: none;
  }

  /* line 713, ../sass/coba.scss */
  nav.main-nav {
    float: none;
    padding: 0 2em 0 2em;
  }
  /* line 717, ../sass/coba.scss */
  nav.main-nav ul {
    margin: 0 auto;
    width: 100%;
    max-width: 30em;
  }

  /* line 724, ../sass/coba.scss */
  div#projects {
    margin: 0 auto;
    border: solid 1px pink;
    height: 76em;
    clear: both;
    width: 100%;
    padding: 7% 2% 0% 2%;
    box-sizing: border-box;
  }
  /* line 733, ../sass/coba.scss */
  div#projects h2 {
    text-align: center;
    margin-bottom: 2%;
    color: gray;
    font-size: 3em;
    margin: 2% 0 2% 0;
  }

  /* line 743, ../sass/coba.scss */
  div.port-item {
    border: solid 1px red;
    width: 48.4%;
    margin-right: 2%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 754, ../sass/coba.scss */
  div.port-item-last {
    margin-right: 0% !important;
    border: solid 1px red;
    width: 48.4%;
    height: 15em;
    float: right;
    margin-bottom: 2%;
  }

  /* line 763, ../sass/coba.scss */
  div#margin-out {
    margin-right: 0;
  }

  /* line 767, ../sass/coba.scss */
  div#margin-outter {
    margin-right: 0;
  }
}
/* =iPad Media Query
-----------------------------------------------------------------------------*/
/* =Media Query for Laptops
-----------------------------------------------------------------------------*/
