/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    Chuck Obaze
email:     obazechuck@gmail.com
website:   http://cobadesign.com
-----------------------------------------------------------------------------*/


/* =imports
-----------------------------------------------------------------------------*/
@import 'fontfamily';

@import 'colors';


/* =Fonts
-----------------------------------------------------------------------------*/

@font-face {
    font-family: 'cabinsketchbold';
    src: url('../fonts/cabinsketch-bold-webfont.eot');
    src: url('../fonts/cabinsketch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabinsketch-bold-webfont.woff2') format('woff2'),
         url('../fonts/cabinsketch-bold-webfont.woff') format('woff'),
         url('../fonts/cabinsketch-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabinsketch-bold-webfont.svg#cabinsketchbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cabinsketchregular';
    src: url('../fonts/cabinsketch-regular-webfont.eot');
    src: url('../fonts/cabinsketch-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabinsketch-regular-webfont.woff2') format('woff2'),
         url('../fonts/cabinsketch-regular-webfont.woff') format('woff'),
         url('../fonts/cabinsketch-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabinsketch-regular-webfont.svg#cabinsketchregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'intro_rust_gbase_2_line';
    src: url('../fonts/rust/introrustg-base2line-webfont.eot');
    src: url('../fonts/rust/introrustg-base2line-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rust/introrustg-base2line-webfont.woff2') format('woff2'),
         url('../fonts/rust/introrustg-base2line-webfont.woff') format('woff'),
         url('../fonts/rust/introrustg-base2line-webfont.ttf') format('truetype'),
         url('../fonts/rust/introrustg-base2line-webfont.svg#intro_rust_gbase_2_line') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =SASS Variables
-----------------------------------------------------------------------------*/

$border: solid 1px;
$body-font-size: 10px;
$section-height: 96em;
$white-font: #ffffff;

%section-values {
	margin: 0 auto;
	max-width: 105em;
	width: 100%;
	height: $section-height;
	clear: both;
	padding-top: 7%;
	box-sizing: border-box;
}

%container-style {
	border: $border red;
	width: 100%;
}

%h2-values{
	text-align: center;
	margin-bottom:2%;
	color: $font-color;
	font-size: 3em;
	margin:5% 0 5% 0;
}

@mixin transform($radius){
	transform: $radius;
	-moz-transform: $radius;
	-ms-transform: $radius;
	-webkit-transform:$radius;
}

@mixin transition($radius){
		transition-delay:$radius;
		-webkit-transition-delay: $radius;
		-moz-transition-delay: $radius;
		-ms-transition-delay: $radius;
}

/* =Remember Order Of Styling Links
-----------------------------------------------------------------------------*/

a:link, a:visited, a:hover, a:focus, a:active

html{
	font-size: $body-font-size;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-size: $body-font-size;
	height: 4000px;
	/*font-family: $helvetica;*/
	font-family: 'Exo 2', sans-serif;
	width: 100%;
	margin: 0 auto;

}

#main-container{
	width: 100%;
}

header.main-header{
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: #ffffff;
	padding: 2em 0 2em 0;
	border-bottom: 1px solid $font-color;

	img{
		float: left;
		width: 20em;
		padding-left: 2%;
	}
}


nav.main-nav{
	float: right;
	padding-right: 2%;
	position: relative;
	top: 4.5em;

	ul{
		clear: both;
		height: 2em;
		padding: 0;
		margin: 0;


		li{
			list-style: none;
			float: left;
			margin-right: 2em;
			display: inline;

			a{
				text-decoration: none;
				color: $font-color;
				font-size: 1.7em;
				font-weight: bold;

				&:visited{
					border-bottom: solid $red-color .3em;
				}

				&:hover, &:focus, &:active{
					border-bottom: solid $red-color .3em;
				}
			}
		}
	}
}

li.contact-nav{
	margin-right: 0em !important;
}

/* START STYLING SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/


section.first-container{
	@extend %container-style;
	background-image: url(../imgs/new-splash-bg.jpg);
	background-position: center center;
	background-size: cover;
	height: $section-height;
	clear: both;
	width: 100%;

}

div#home{
	@extend %section-values;
	max-width: 135em;
	border: $border green;

	h1{
		width: 100%;
		max-width:5em;
		color: #ffffff;
		font-family: 'Londrina Shadow', cursive;
		font-weight: bold;
		font-size: 10em;
		float: right;
		text-align: center;
		margin: 18% 12% 3% 0;
		border: $border green;

	}

	h2{
		width: 100%;
		max-width:19em;
		color: #ffffff;
		font-weight: bold;
		font-size: 4em;
		float: right;
		text-align: center;
		border: $border green;
	}


	img{
		width: 100%;
		max-width: 45em;
		float: left;
		margin-top: 7.5%;
	}
}

div.letter-holder{
	@extend %section-values;
	height: 40em;
	width: 100%;
	max-width: 80em;
	border: $border red;
}

div.letter{
		width: 100%;
		max-width:0.6em;
		color: #ffffff;
		font-family: 'Londrina Shadow', cursive;
		font-weight: bold;
		font-size: 18em;
		text-align: center;
		display: inline-block;
		transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
		transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);

}

div#w{
		@include transform(translateX(-1px) translateY(68px) rotate(-17deg));
		@include transition( 0s);
		transform: translateX(-1px) translateY(68px) rotate(-17deg);
		-moz-transform: translateX(-1px) translateY(68px) rotate(-17deg);
		-ms-transform: translateX(-1px) translateY(68px) rotate(-17deg);
		-webkit-transform: translateX(-1px) translateY(68px) rotate(-17deg);
		transition-delay: 0s;
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-ms-transition-delay: 0s;
}

div#e{
		@include transform(translateX(-3px) translateY(39px) rotate(-13deg));
		@include transition(.04s);

}
div#l{
		 @include transform(translateX(-3px) translateY(21px) rotate(-9deg));
		 @include transition(.08s);
}

div#c{
		 @include transform(translateX(0px) translateY(10px) rotate(0deg));
		 @include transition(.02s);
}

div#o{
		 @include transform(translateX(3px) translateY(21px) rotate(9deg));
		 @include transition(.32s);
}

div#m{
		 @include transform(translateX(3px) translateY(39px) rotate(13deg));
		 @include transition(.32s);
}

div#ee{
		 @include transform(translateX(1px) translateY(68px) rotate(17deg));
		 @include transition(.04s);
}


/* END SECTION HOME AND FIRST-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/

section.second-container{
	@extend %container-style;

}

div#projects{
	@extend %section-values;

	h2{
		@extend %h2-values;
	}

}

div.port-item{
	border: $border red;
	width: 100%;
	max-width: 24.4em;
	margin-right: 2%;
	height: 20em;
	float: right;
	margin-bottom: 2%;


}

div.port-item-last{
	margin-right: 0% !important;
	border: $border red;
	width: 23.3%;
	height: 20em;
	float: right;
	margin-bottom: 2%;
}

/* END SECTION PROJECTS AND SECOND-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION ABOUT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/

section.third-container{
	@extend %container-style;
	background-color: $alt-gray-color;
	height: $section-height + 10;

}

div#about{
	@extend %section-values;
	border: $border red;
	height: 90em;


	h2{
		@extend %h2-values;
	}

	p{
		float: left;
		font-size: 2.5em;
		line-height: 1.6em;
		color: $white-font;
		font-weight: 300;
		width: 100%;
		max-width: 26em;
		height: 100%;
		max-height: 17.7em;
		margin-right: 3%;
		border: $border green;

		a{
			text-decoration: none;
			font-size: 1em;
			color: $white-font;
			color: $alt-font-color;
			font-weight: bold;
		}
	}

	img{
		width: 100%;
		max-width: 36.4em;

	}

}

/* END SECTION CONTACT AND THIRD-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION CONTACT AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/


section#fourth-container{
	@extend %container-style;
	height: $section-height + 10;

}

div#resume{
	@extend %section-values;
	border: $border red;
	height: 90em;

	h2{
		@extend %h2-values;
	}
}


/* END SECTION CONTACT AND FOURTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* START SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/

section#fifth-container{
	@extend %container-style;

}

div#contact-me{
	@extend %section-values;

	h2{
		text-align: center;
		margin-bottom:2%;
		color: $font-color;
		font-size: 3em;
		margin:2% 0 2% 0;
	}
}

#form-holder{
	border: $border red;
}

section#alt-about{
	display: none;

	img{
		display: none;
	}
}

/* END SECTION CONTACT AND FIFTH-CONTAINER STYLES
-----------------------------------------------------------------------------*/


/* =iPhone 6 Media Query
-----------------------------------------------------------------------------*/

@media only screen
  and (min-width: 375px)
  and (max-width: 667px)
  and (orientation: portrait) {

	section#home{
		width: 100%;
	}

	header.main-header{
		width: 100%;
		height: 17em;

		img{
			margin: 0 auto !important;
			display: block;
			width: 20em;
			float: none;
		}
	}

	nav.main-nav{
	float: none;
	padding: 0 2em 0 2em;

		ul{
			margin: 0 auto;
			width: 100%;
			max-width: 30em;
		}
	}

	div#projects{
	margin: 0 auto;
	border: $border pink;
	height: $section-height - 20;
	clear: both;
	width: 100%;
	padding: 7% 2% 0% 2%;
	box-sizing: border-box;

		h2{
			text-align: center;
			margin-bottom:2%;
			color: $font-color;
			font-size: 3em;
			margin:2% 0 2% 0;
		}

	}

	div.port-item{
		border: $border red;
		width: 48.4%;
		margin-right: 2%;
		height: 15em;
		float: right;
		margin-bottom: 2%;


	}

	div.port-item-last{
		margin-right: 0% !important;
		border: $border red;
		width: 48.4%;
		height: 15em;
		float: right;
		margin-bottom: 2%;
	}

	div#margin-out{
		margin-right: 0;
	}

	div#margin-outter{
		margin-right: 0;
	}

}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


}


/* =iPad Media Query
-----------------------------------------------------------------------------*/

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* =Media Query for Laptops
-----------------------------------------------------------------------------*/

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

}
